{% extends 'front_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Блог', 'description':''} %}
{% endblock %}



{% block content %}

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1>Блог</h1>

                    <div class="inner-box">


                        {% for article in articles %}
                            <div class="item-list make-compact">
                                <div class="col-sm-12">
                                    <h3>
                                        <a href="{{ path('blog_page', {id:article.id}) }}">{{ article.title }}</a>
                                    </h3>
                                    <p>
                                        {{ article.shortText }}
                                    </p>



                                </div>

                            </div>

                        {% else %}
                            <p>В данный момент статей нет.</p>
                        {% endfor %}

                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}

