{% extends 'front_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': article.title, 'description':''} %}
{% endblock %}


{% block content %}

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ article.title }}</h1>

                    <div class="inner-box">

                        <div class="row">
                            <div class="col-lg-12" style="margin-top: 20px;font-size: 14px">
                                {{ article.text|raw }}
                            </div>


                            <div class="col-lg-12">
                                <div style="text-align: center;margin-bottom: 10px">
                                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber,whatsapp,skype,telegram"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//yastatic.net/share2/share.js"></script>
{% endblock %}
