<ul class="nav nav-pills">
    <li {% if app.request.get('_route') == 'profile_billing' %}class="active"{% endif %}>
        <a href="{{ path('profile_billing') }}">Платежи</a>
    </li>
    <li {% if app.request.get('_route') == 'profile_orders_active' %}class="active"{% endif %}>
        <a href="{{ path('profile_orders_active') }}">Списания</a>
    </li>
    <li {% if app.request.get('_route') == 'profile_orders_archive' %}class="active"{% endif %}>
        <a href="{{ path('profile_orders_archive') }}">Блокировки</a>
    </li>
</ul>