<div class="header">
    <span class="page-title">Настройки</span>
    <ul>
        <li {% if app.request.get('_route') == 'profile_options' %}class="active"{% endif %}>
            <a href="{{ path('profile_options') }}">Основные</a>
        </li>
        <li>
            <a href="#">Безопасность</a>
        </li>
        <li>
            <a href="#">Адрес</a>
        </li>
    </ul>
</div>