<ul class="nav nav-pills">
    <li {% if app.request.get('_route') == 'profile_orders' %}class="active"{% endif %}>
        <a href="{{ path('profile_orders') }}">В ожидании ответа</a>
    </li>
    <li {% if app.request.get('_route') == 'profile_orders_active' %}class="active"{% endif %}>
        <a href="{{ path('profile_orders_active') }}">В работе</a>
    </li>
    <li {% if app.request.get('_route') == 'profile_orders_archive' %}class="active"{% endif %}>
        <a href="{{ path('profile_orders_archive') }}">Архив</a>
    </li>
</ul>