<div class="header">
    <span class="page-title">Отзывы</span>
    <ul>
        <li {% if app.request.get('_route') == 'profile_reviews' %}class="active"{% endif %}>
            <a class="positive" href="{{ path('profile_reviews', {id:user.id}) }}">Положительные</a>
        </li>
        <li {% if app.request.get('_route') == 'profile_negative_reviews' %}class="active"{% endif %}>
            <a class="negative" href="{{ path('profile_negative_reviews', {id:user.id}) }}">Отрицательные</a>
        </li>
    </ul>
</div>