{% extends 'profile_layout.html.twig' %}

{% block pageTitle %}Профиль активирован{% endblock %}

{% block profileContent %}

    <div class="confirmed-block">
        <p>
            Спасибо за регистрацию. Ваш профиль активирован.
        </p>
        <p>Теперь Вы можете перейти к <a href="{{ path('new_order') }}">созданию заявок</a>.</p>
    </div>

{% endblock %}