{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Мои заказы', 'keywords':'', 'description':''} %}
{% endblock %}

{% block profileContent %}

    Страница редактирования профиля


{% endblock %}