{% extends 'profile_layout.html.twig' %}

{% block pageTitle %}Email подтвержден{% endblock %}

{% block profileContent %}

    <div class="confirmed-block">
        <p>
            Ваш email подтвержден.
        </p>
    </div>

{% endblock %}