{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Профиль', 'keywords':'', 'description':''} %}
{% endblock %}

{% block profileContent %}

    Текст на главной странице профиля

{% endblock %}