{% extends 'profile_layout.html.twig' %}

{% block profileContent %}

    {% include 'profile/block/review_header.html.twig' %}

    <div class="inner">
        <p class="title">Отрицательные отзывы</p>
    </div>

{% endblock %}