{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Мои заказы', 'keywords':'', 'description':''} %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.css">
{% endblock %}

{% block pageTitle %}В ожидании ответа{% endblock %}

{% block profileContent %}

    <div class="table-responsive">
        <table class="table">
            <thead>
            <th>Номер</th>
            <th>Заголовок</th>
            <th>Машина</th>
            <th>Дата создания</th>
            <th>Желаемая дата ремонта</th>
            <th></th>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <a href="{{ path('profile_order_page', {'id': order.id}) }}">{{ order.id }}</a>
                    </td>
                    <td>
                        <a href="{{ path('profile_order_page', {id: order.id}) }}">{{ order.title }}</a>
                    </td>
                    <td>{{ order.mark.title }} {{ order.model.title }}</td>
                    <td>{{ order.dateCreated|date('d-m-Y') }}</td>
                    <td>
                        {% if not order.date %}
                            Не указана
                        {% else %}
                            {{ order.date|date('d-m-Y') }}
                        {% endif %}

                    </td>
                    <td width="220px">
                        {% if order.owner == app.user %}
                            <a  href="{{ path('profile_order_page', {id: order.id}) }}">Предложения ({{ order.answersCount }})</a>
                            &nbsp;

                            <a class="btn btn-info btn-xs" href="{{ path('profile_order_edit', {id: order.id}) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            &nbsp;

                            <a class="btn btn-danger btn-xs remove" href="{{ path('profile_order_delete', {id: order.id}) }}">
                                <i class="fa fa-remove"></i>
                            </a>



                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>
    <script>
        $(function () {
            $('.remove').confirm({
                    title: 'Вы действительно хотите удалить заявку ?',
                    content: "",
                    buttons: {
                        cancel: {
                            text: 'Нет',
                            btnClass: 'btn-blue',
                            keys: ['enter', 'shift'],
                            action: function(){
                                console.log('Нет');
                            }
                        },
                        confirm: {
                            text: 'Да',
                            btnClass: 'btn-danger',
                            keys: ['enter', 'shift'],
                            action: function(){
                                location.href = this.$target.attr('href');
                            }
                        }
                    }
                });


        })
    </script>
{% endblock %}