{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title':user.name, 'keywords':'', 'description':''} %}
{% endblock %}

{% block profileContent %}

    Главная страница в профиле

{% endblock %}