{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Рейтинг', 'keywords':'', 'description':''} %}
{% endblock %}

{% block profileContent %}

    <div class="header">
        <span class="page-title">Рейтинг</span>
    </div>

    <div class="inner rating">
        <div class="row">
            <div class="col-md-2 title">Рейтинг</div>
            <div class="col-md-3 value">1000</div>
        </div>
        <div class="row">
            <div class="col-md-2 title">Парамметр</div>
            <div class="col-md-3 value">1000</div>
        </div>
        <div class="row">
            <div class="col-md-2 title">Парамметр</div>
            <div class="col-md-3 value">1000</div>
        </div>
        <div class="row">
            <div class="col-md-2 title">Парамметр</div>
            <div class="col-md-3 value">1000</div>
        </div>
    </div>

{% endblock %}