{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Отзывы', 'keywords':'', 'description':''} %}
{% endblock %}

{% block profileContent %}

    {% include 'profile/block/review_header.html.twig' %}

    <div class="inner">
        <p class="title">Положительные отзывы</p>
    </div>

{% endblock %}