

<div class="col-lg-12">

    <form class="form-horizontal" ng-submit="vm.save()">

        <div class="form-group">
            <label class="col-lg-2 control-label">Название</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="vm.sto.title" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="vm.sto.email">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Телефон</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="vm.sto.phone">
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Регион</label>
            <div class="col-lg-6">
                <select
                        ng-options="region as region.title for region in vm.regions track by region.id"
                        ng-model="vm.sto.region"
                        class="form-control"
                        ></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Город</label>
            <div class="col-lg-6">
                <select
                        ng-options="city as city.title for city in vm.cities track by city.id"
                        ng-model="vm.sto.city"
                        class="form-control"
                        ></select>
            </div>
        </div>



        <div class="form-group">
            <div class="col-lg-offset-2">
                <input type="submit" class="btn btn-default" value="Добавить">
            </div>
        </div>
    </form>

</div>