<div class="col-md-12">

    <div style="margin-bottom: 20px">
        <a ui-sref="sto_add" class="btn btn-default">
            <i class="fa fa-plus"></i> Добавить
        </a>
    </div>


    <table ng-table="vm.table" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="row in $data track by row.id">
            <td data-title="'id'">{{row.id}}</td>
            <td data-title="'Название'">
                <a ui-sref="sto_page({id: row.id})">{{row.title}}</a>
                <a href="{{row.switch_url}}" target="_self">
                    <i class="fa fa-caret-square-o-right"></i>
                </a>
            </td>
            <td data-title="'Опубликовано'">{{row.published}}</td>
            <td data-title="'Город'">{{row.city.title}}</td>
            <td data-title="'Телефон'">{{row.phone}}</td>
            <td data-title="'Email'">{{row.email}}</td>
            <td data-title="'Баланс'">{{row.balance}}</td>
            <td data-title="'Последнее действие'">{{row.last_active_date|date:"yyyy-MM-dd HH-mm"}}</td>
        </tr>
    </table>
</div>