

<div class="col-lg-12">

    <div class="row">
        <form class="form-horizontal" ng-submit="vm.save()">

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Название</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" ng-model="vm.sto.title" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Slug</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" ng-model="vm.sto.slug">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" ng-model="vm.sto.email" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Телефон</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" ng-model="vm.sto.phone" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Опубликовано</label>
                    <div class="col-lg-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.sto.published">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Регион</label>
                    <div class="col-lg-9">
                        <select
                                ng-options="region as region.title for region in vm.regions track by region.id"
                                ng-model="vm.sto.region"
                                class="form-control"
                        ></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Город</label>
                    <div class="col-lg-9">
                        <select
                                ng-options="city as city.title for city in vm.cities track by city.id"
                                ng-model="vm.sto.city"
                                class="form-control"
                        ></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Адрес</label>
                    <div class="col-lg-9">
                        <textarea class="form-control" required ng-model="vm.sto.address"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <div id="map" style="width: 100%;height: 200px"></div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Дополнительные удобства</label>
                    <div class="col-lg-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.sto.services.wiFi"> Wi-fi
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.sto.services.tv"> Телевизор
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.sto.services.card"> Можно расплатиться картой
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Главное изображение</label>
                    <div class="col-lg-10">
                        <a style="margin-bottom: 20px" class="btn btn-default" ngf-select="vm.uploadImage($file)">Загрузить</a>

                        <img src="/uploads/sto/{{vm.sto.id}}/{{vm.sto.image}}" class="img-responsive">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Изображения</label>
                    <div class="col-lg-10">
                        <a style="margin-bottom: 20px" class="btn btn-default" ngf-select="vm.uploadImages($files)" ngf-multiple="true" multiple="true" >Загрузить</a>

                        <div>
                            <div ng-repeat="file in vm.sto.images">
                                <img src="/uploads/sto/{{vm.sto.id}}/{{file}}" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Описание</label>
                    <div class="col-lg-10">

                        <summernote ng-model="vm.sto.description" height="300" data-editable="editable" data-on-image-upload="vm.imageUpload(files, editor)"></summernote>




                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-2">
                        <input type="submit" class="btn btn-info" value="Сохранить">
                    </div>
                </div>
            </div>
        </form>

            <div class="col-lg-6">
                <h3>Пополнения</h3>

                <form class="form-horizontal" ng-submit="vm.addPayment()">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Сумма</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" ng-model="vm.payment.total" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Текст</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" ng-model="vm.payment.text" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <input type="submit" class="btn btn-default" value="Добавить">
                        </div>
                    </div>
                </form>

                <table ng-table="vm.tablePayments" class="table table-bordered table-striped table-condensed">
                    <tr ng-repeat="row in $data track by row.id">
                        <td data-title="'Сумма'">
                            {{row.total}}
                        </td>
                        <td data-title="'Текст'">{{row.text}}</td>
                        <td data-title="'Дата создания'">{{row.date_created|date:"yyyy-MM-dd HH-mm"}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-6">
                <h3>Списания</h3>
            </div>

            <div class="col-lg-12">
                <h3>Предложения</h3>
            </div>




















    </div>



</div>