<div class="row">
    <div class="col-sm-12 col-lg-4">
        <div class="form-group">
            <select class="selectpicker main-select form-control show-menu-arrow" data-live-search="true" id="order-mark" name="mark">
                <option>Марка</option>
                {% for mark in marks %}
                    <option {% if markId is defined and markId == mark.id %}selected{% endif %} value="{{ mark.id }}">{{ mark.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="form-group">
            <select class="selectpicker main-select form-control show-menu-arrow" data-live-search="true" id="order-model" disabled name="model">
                <option>Модель</option>
            </select>
        </div>
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="form-group">
            <select class="selectpicker main-select form-control show-menu-arrow" id="order-year" disabled name="year">
                <option>Год выпуска</option>
                {% for i in 2017..1980 %}
                    <option {% if year is defined and year == i %}selected{% endif %} value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div>
    <textarea class="form-control"id="order-text" rows="4" disabled placeholder="Что нужно сделать? Например: замена масла" name="text">
        {% if text is defined %}{{ text }}{% endif %}
    </textarea>
</div>
