<div class="col-md-12">

    <div style="margin-bottom: 20px">
        <a ui-sref="mark_add" class="btn btn-default">
            <i class="fa fa-plus"></i> Добавить
        </a>
    </div>


    <table ng-table="vm.table" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="row in $data track by row.id">
            <td data-title="'Название'">
                {{row.title}}
            </td>
            <td data-title="'Действия'">
                <a ui-sref="models({id:row.id})" class="btn btn-default btn-xs">
                   Модели
                </a>&nbsp;
                <a ui-sref="mark_edit({id:row.id})" class="btn btn-default btn-xs">
                    <i class="fa fa-edit"></i>
                </a>&nbsp;
                <a ng-click="vm.remove(row)" class="btn btn-danger btn-xs">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
        </tr>
    </table>
</div>