{% spaceless %}
    <!DOCTYPE html>
    <html ng-app="admin">
    <head>
        <meta charset="UTF-8">
        {% verbatim %}<title>{{ pageTitle }}</title>{% endverbatim %}
        {% if app.environment == 'dev' %}
            <base href="/app_dev.php/">
        {% else %}
            <base href="/">
        {% endif %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=cyrillic" rel="stylesheet">
        <link href="{{ asset('css/admin.min.css') }}" rel="stylesheet">

        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">




    </head>
    <body>

    <header>
        <div class="container">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="index">Главная</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="users">Пользователи</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="sto">СТО</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="orders">Заявки</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="marks">Марки</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="regions">Регионы</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="articles">Статьи</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_security_logout') }}" target="_self"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </header>

    <div class="container d-admin-wrapper">
        <div class="content">
            <h1>{% verbatim %}{{ pageTitle }}{% endverbatim %}</h1>
            <div>

                <ui-view></ui-view>
            </div>
        </div>
    </div>



    <script>
        {% if app.environment == 'dev' %}
        window.base = '/app_dev.php/';
        {% else %}
        window.base = '/';
        {% endif %}
    </script>


    <script src="//api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>


    <script src="{{ asset('js/admin.min.js') }}"></script>



    </body>
    </html>
{% endspaceless %}