{% extends 'front_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <div class="container profile">
        <div class="row">

            <div class="col-sm-3 page-sidebar">
                <aside>
                    <div class="inner-box">
                        <div class="user-panel-sidebar">

                            <ul style="margin-bottom: 10px">
                                {% if app.user.type == 1 %}
                                    <li {% if app.request.get('_route') =='profile_orders_add' %}class="active"{% endif %}>
                                        <a href="{{ path('new_order') }}">
                                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; <b>Добавить заявку</b>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('profile_orders_search') }}">
                                            <i class="fa fa-tasks"></i>&nbsp; <b>Заявки</b>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>


                            <div class="collapse-box">
                                <h5 class="collapse-title"> Мои заявки <a href="#MyAds" data-toggle="collapse" class="pull-right" aria-expanded="true"><i class="fa fa-angle-down"></i></a></h5>
                                <div class="panel-collapse collapse in" id="MyAds" aria-expanded="true">
                                    <ul class="acc-list">
                                        <li>
                                            <a href="{{ path('profile_orders') }}"><i class="icon-docs"></i> В ожидании ответа <span class="badge">{{ getWaitOrdersCount() }}</span> </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('profile_orders_active') }}"><i class="icon-heart"></i>
                                                В работе <span class="badge">{{ getActiveOrdersCount() }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('profile_orders_archive') }}"><i class="icon-star-circled"></i>
                                                Архив
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            {% if app.user.type == 2 %}
                            <div class="collapse-box">
                                <h5 class="collapse-title"> Билинг <a href="#billing" data-toggle="collapse" class="pull-right" aria-expanded="true"><i class="fa fa-angle-down"></i></a></h5>
                                <div class="panel-collapse collapse in" id="billing" aria-expanded="true">
                                    <ul class="acc-list">
                                        <li>
                                            <a href="{{ path('profile_billing') }}">Пополнения</a>
                                        </li>
                                        <li class="active">
                                            <a href="{{ path('profile_billing_debits') }}">Списания</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            {% endif %}



                        </div>
                    </div>

                </aside>
            </div>


            <div class="col-sm-9 page-content">
                <div class="inner-box">
                    <h2 class="title-2"> {% block pageTitle %}{% endblock %} </h2>
                    {% block profileContent %}{% endblock %}
                </div>
            </div>
        </div>

    </div>


{% endblock %}

