@font-path: '/fonts/proxima/';

@font-face {
  font-family: "Proxima Light";
  src: url('@{font-path}ProximaNova-Light.otf');
}

@font-face {
  font-family: "Proxima Regular";
  src: url('@{font-path}ProximaNova-Regular.otf');
}

@font-face {
  font-family: "Proxima Semibold";
  src: url('@{font-path}ProximaNova-Semibold.otf');
}

@font-face {
  font-family: "Proxima Bold";
  src: url('@{font-path}ProximaNova-Bold.otf');
}