

body>footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .top {
    background: #f1f0fb;
    height: 264px;
    padding: 58px 0 0 0;
    ul {
      li {
        list-style: none;
        font-size: 16px;
        padding-bottom: 7px;

        &:first-child {
          font-weight: 700;
          font-family: "Proxima Bold", sans-serif;
        }
        a {
          color: black;
          transition: all ease-in-out 1s;
          text-decoration: none;
          &:hover {
            transition: all ease-in-out 1s;
            text-decoration: underline;
          }
        }
      }
    }

    .contact-block {
      p {
        font-size: 16px;
        &.padding {
          margin-bottom: 20px;
        }
        span {
          font-weight: 700;
          font-family: "Proxima Bold", sans-serif;
        }
        a {
          color: black;
          font-weight: 400;
          text-decoration: underline;
          font-family: "Proxima Regular", sans-serif;
        }
      }
    }
  }
  .bottom {
    height: 108px;
    padding-top: 20px;
    background: #4f4d4d;
    p {
      color: white;
      margin: 0 0 3px 0;
    }
    ul {
      padding-left: 0;
      li {
        list-style: none;
        display: inline-block;
        a {
          color: white;
          height: 32px;
          line-height: 32px;
          display: inline-block;
          padding: 0 12px 0 6px;
          border-radius: 5px;
          margin-right: 5px;
          &:hover {
            background: #405764;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }
        }
      }
    }

    .copy {
      color: #c5c5c5;
      padding-top: 28px;
    }

  }
}