body>header {
  .btns {
    text-align: right;

    .circle {
      display: inline-block;
      vertical-align: top;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background: black;
      text-align: center;
      margin-left: 15px;
      margin-top: 28px;

      &[aria-expanded=true] {
        span {
          transform: rotate(0deg);
        }
      }

      span {
        display: inline-block;
        vertical-align: top;
        margin-top: 6px;
        transform: rotate(180deg);
      }
    }

    >img {
      display: inline-block;
      margin: 16px 0 0 22px;
    }

    .dropdown-menu {
      float: right;
      right: 0;
      width: 188px;
      position: relative;
      top: 18px;
      border: none;
      padding: 14px 10px 0 10px;
      ul {
        padding-left: 0;
        li {
          list-style: none;
          &.bottom {
            a {
              background: none;
              font-size: 14px;
              font-weight: 400;
              font-family: "Proxima Regular", sans-serif;
              text-decoration: underline;
              text-align: center;
              padding: 0;
              &:hover {
                background: none;
              }
            }
          }
          a {
            display: block;
            background: #f4f3f3;
            border-radius: 20px;
            color: #333333;
            font-size: 16px;
            font-weight: 600;
            font-family: "Proxima Semibold", sans-serif;
            text-align: left;
            padding: 8px 0 8px 18px;
            margin-bottom: 10px;
            &:hover {
              background: #ffea00;
              text-decoration: none;
              opacity: 0.6;
            }

            span {
              display: inline-block;
              float: right;
              margin: 5px 13px 0 0;
            }
          }
        }
      }

    }

    .btn {
      background: transparent;
      color: #96999c;
      font-size: 14px;
      margin: 22px 0 0 20px;
      text-decoration: none;

      &:active {
        background: transparent;
      }

      &.add-order {
        background: #333;
        font-size: 18px;
        font-weight: 700;
        color: white;
        margin-top: 18px;
        border-width: 2px;
        border-color: #2b2b2b;
        padding: 6px 23px;
        font-family: "Proxima Bold", sans-serif;

      }
    }
  }
}