<div class="footer" id="footer">
    <div class="container">
        <ul class=" pull-left navbar-link footer-nav">
            <li>
                <a href="{{ path('index') }}">Главная</a>
                <a href="{{ path('for_sto') }}">Для СТО</a>
                {#<a href="{{ path('about') }}">О нас</a>#}
                {#<a href="terms-conditions.html">Условия использования</a>#}
                <a href="{{ path('contacts') }}">Контакты</a>
                <a href="{{ path('blog') }}">Блог</a>
            </li>
        </ul>
        <ul class=" pull-right navbar-link footer-nav">
            <li> © 2017 remoto.by</li>
        </ul>
    </div>
</div>