<div class="header">
    <nav class="navbar   navbar-site navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <a href="{{ path('index') }}" class="navbar-brand logo logo-title">

                    <span class="logo-icon">
                        <img class="img-responsive" style="height: 50px;" src="{{ asset('img/logo.png') }}">
                    </span>
                    <span class="hidden-xs" style="color: #777;font-weight: bold"> RE</span><span class="hidden-xs">MOTO </span>
                </a>





                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>
            <div class="navbar-collapse collapse" id="header-nav">


                <ul class="nav navbar-nav navbar-left">
                    <li>
                        {% if app.user %}
                            <a>{{ app.user.city.title }}</a>
                        {% else %}
                            <a id="city-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ getCity().title }}
                            </a>
                            <ul class="dropdown-menu user-menu" aria-labelledby="city-select">
                                {% set cities = getCities() %}

                                {% for city in cities %}
                                    <li>
                                        <a href="{{ path('change_city', {'id':city.id}) }}">{{ city.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="{{ path('all_sto') }}">Все СТО</a>
                    </li>

                    {% if app.user %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li>
                                <a href="{{ path('admin') }}">Админка</a>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li>
                                <a href="{{ path('admin', {'_switch_user': '_exit'}) }}">Закончить просмотр</a>
                            </li>

                        {% endif %}

                        {% if app.user.type == 1 %}

                        {% else %}
                            <li>
                                <a href="{{ path('profile_billing') }}">Баланс: {{ app.user.getBalance() }} BYN</a>
                            </li>
                        {% endif %}

                        <li class="dropdown">
                            <a id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="{{ path('profile') }}">
                                Личный кабинет
                            </a>
                            <ul class="dropdown-menu user-menu" aria-labelledby="dropdownMenu1">
                                {% if app.user.type == 1 %}
                                    <li><a href="{{ path('new_order') }}"><i class="fa fa-plus" aria-hidden="true"></i> Добавить заявку</a></li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('profile_orders_search') }}">
                                            <i class="fa fa-tasks"></i> Заявки
                                        </a>
                                    </li>
                                {% endif %}


                                <li><a href="{{ path('profile_orders') }}"><i class="fa fa-file-text" aria-hidden="true"></i> Мои заявки</a></li>
                                {#<li><a href="{{ path('profile_edit') }}"><i class="fa fa-pencil" aria-hidden="true"></i> Редактирование профиля</a></li>#}
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off" aria-hidden="true"></i> Выйти</a></li>
                            </ul>
                        </li>

                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">Войти</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a>
                        </li>
                        <li>
                            <a href="{{ path('for_sto') }}" class="btn btn-warning">Зарегистрировать СТО</a>
                        </li>
                    {% endif %}


                    {% if app.user and app.user.type == 1 %}
                        <li class="postadd">
                            <a class="btn btn-block btn-border btn-post btn-danger" href="{{ path('new_order') }}">Добавить заявку</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>

    </nav>
</div>
