{% extends '@FOSUser/security_layout.html.twig' %}



{% block content %}

    <div class="container security-block">
        <div class="row">
            <div class="col-md-10 col-md-offset-2 check-email-block">
                <p>
                    Спасибо!
                </p>
                <p>Вы успешно зарегистрировались.</p>

                <div class="text">
                    Проверьте вашу почту <span>{{ user.email }}</span>,<br>
                    на которую придет письмо с дальнейшими инструкциями.
                </div>

                <hr>

                <p class="social-text">
                    Вступайте в наши социальные сети, получайте больше информации о нашем сервисе.
                </p>

                <a href="#" class="big-link vk">
                    ВКонтакте <img src="{{ asset('img/vk-white-border.png') }}">
                </a>

                <a href="#" class="big-link fb">
                    Facebook <img src="{{ asset('img/fb-white-border.png') }}">
                </a>

            </div>
        </div>

    </div>


{% endblock %}