{% extends 'front_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Регистрация', 'keywords':'', 'description':''} %}
{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-8 page-content">
                <div class="inner-box category-content">
                    <h2 class="title-2">
                        <i class="icon-user-add"></i> Зарегистрируйтесь, это бесплатно
                    </h2>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_start(form, {'attr':{id:'register-form', class: 'form-horizontal'},'method': 'post', 'action': path('fos_user_registration_register')}) }}
                                <fieldset>

                                    <div class="form-group required">
                                        <label class="col-md-4 control-label">Имя <sup>*</sup></label>
                                        <div class="col-md-6">
                                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-md-4 control-label">Email <sup>*</sup></label>
                                        <div class="col-md-6">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-md-4 control-label">Пароль <sup>*</sup></label>
                                        <div class="col-md-6">
                                            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-md-4 control-label">Телефон <sup>*</sup></label>
                                        <div class="col-md-6">
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-group" id="final-btns">
                                        <div class="col-lg-8 col-lg-offset-4">
                                            <input type="button" class="btn btn-primary" value="Регистрация" id="reg-btn">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">

                                        </div>
                                    </div>

                                    <div class="form-group" id="sms-form" style="display: none">

                                        <div class="col-lg-8 col-lg-offset-2">
                                            <p>
                                                Укажите код, который пришел на телефон, указанный Вами
                                            </p>

                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" placeholder="Код из СМС" id="sms-code" maxlength="5">
                                            </div>
                                            <div class="col-lg-4">
                                                <input type="submit" id="confirm" class="btn btn-success" disabled value="Подтвердить" data-loading-text="Идет загрузка...">
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 reg-sidebar">
                <div class="reg-sidebar-inner text-center">
                    <div class="promo-text-box"><i class=" icon-picture fa fa-lock fa-4x icon-color-1"></i>
                        <h3><strong>Безопасность</strong></h3>
                        <p>
                            Мы надежно храним Ваши данные и не передаем их без Вашего согласия. Номер телефона необходим для обработки Ваших заявок и предложений от СТО.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>









            {#<div class="form-group" id="final-btns">#}
                {#<div class="col-lg-8 col-lg-offset-4">#}
                    {#<input type="button" class="btn btn-default" value="Регистрация" id="reg-btn">#}
                {#</div>#}
            {#</div>#}



            {#{{ form_end(form) }}#}
        {#</div>#}

        {#<div class="col-lg-2 reg-text">#}
            {#<i class="fa fa-lock fa-2x" aria-hidden="true"></i><br>#}
            {#Мы надежно храним Ваши данные и не передаем их без Вашего согласия. Номер телефона необходим для обработки Ваших заявок и предложений от СТО.#}
        {#</div>#}


    {#</div>#}
{#</div>#}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.mask.min.js') }}"></script>
    <script src="{{ asset('js/register.js') }}"></script>
    <script>
        $(function () {
            Register.init('{{ path('ajax_sms_send') }}', '{{ path('ajax_sms_confirm') }}');
        });




    </script>

{% endblock %}