@import "../../common/less/footer";
@import "../../common/less/fonts";
@import "../../common/less/header";
@import "profile";
@import "security";



input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:focus {
  border-color: #b3ccff !important;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    color: #3966d0;
    text-decoration: underline;
  }
}

li.active {
  a {
    color: #3966d0;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Proxima Regular", sans-serif;
  font-weight: 400;
  margin-bottom: 372px;
  >header {
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
    background: white;
    -webkit-box-shadow: 0px 14px 50px 0px rgba(237, 237, 237, 1);
    -moz-box-shadow:    0px 14px 50px 0px rgba(237, 237, 237, 1);
    box-shadow:         0px 14px 50px 0px rgba(237, 237, 237, 1);
    margin-bottom: 80px;

    .logo {
      line-height: 80px;
    }
    .nav {
      >li {
        &:first-child {
          a {
            padding-left: 0;
          }
        }
        >a {
          color: black;
          font-size: 13px;
          padding-top: 31px;
          text-decoration: none;
          &:hover, &:focus, &:active {
            background: none;
            color: black;
          }
        }
      }
    }
    .btns {
      text-align: right;

      .circle {
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background: black;
        text-align: center;
        margin-left: 15px;
        margin-top: 28px;

        &[aria-expanded=true] {
          span {
            transform: rotate(0deg);
          }
        }

        span {
          display: inline-block;
          vertical-align: top;
          margin-top: 6px;
          transform: rotate(180deg);
        }
      }

      >img {
        display: inline-block;
        margin: 16px 0 0 22px;
      }

      .dropdown-menu {
        float: right;
        right: 0;
        width: 188px;
      }

      .btn {
        background: transparent;
        color: #96999c;
        font-size: 14px;
        margin: 22px 0 0 20px;
        text-decoration: none;

        &:active {
          background: transparent;
        }

        &.add-order {
          background: #333;
          font-size: 18px;
          font-weight: 700;
          color: white;
          margin-top: 18px;
          border-width: 2px;
          border-color: #2b2b2b;
          padding: 6px 23px;
          font-family: "Proxima Bold", sans-serif;

        }
      }
    }
  }
  >section {
    padding: 60px 0;
    h2 {
      font-size: 36px;
      text-align: center;
    }
  }
}





.profile_type_1 {
  width: 16px;
  height: 16px;
  background: url(../img/reg-checkbox.png) -3px -3px;
  display: inline-block;
  &.checked {
    background-position: -28px -3px;
  }
}

.profile_type_2 {
  width: 16px;
  height: 16px;
  background: url(../img/reg-checkbox.png) -35px -3px;
  display: inline-block;
  &.checked {
    background-position: -50px -3px;
  }
}


.check-email-block {
  margin-top: 60px;
  p {
    color: #24272e;
    font-size: 39px;
    margin: 0;
    &.social-text {
      color: #848794;
      font-size: 16px;
    }
  }
  .text {
    margin-top: 40px;
    font-size: 24px;
    span {
      color: #0f4490;
    }
  }

  .big-link {
    color: white;
    display: inline-block;
    vertical-align: top;
    padding: 15px 40px;
    border-radius: 4px;
    margin-top: 25px;
    font-size: 18px;
    font-family: "Proxima Semibold", sans-serif;
    font-weight: 500;
    &.vk {
      background: #4c75a3;
      margin-right: 37px;
    }
    &.fb {
      background: #3b5999;
    }
    img {
      margin-left: 24px;
    }
  }

}

.confirmed-block {
  margin-top: 50px;
  >p {
    font-size: 20px;
    >a {
      font-weight: 500;
      font-family: "Proxima Semibold", sans-serif;
    }
  }
}

.page-block {
  margin-top: 180px;
}