.profile-block {


  margin-top: 180px;

  .h1 {
    font-size: 36px;
    color: #24272e;
  }

  header {
    .menu {
      height: 70px;
      background: black;
      margin: 0;
      .col-md-2 {
        position: relative;
        padding-left: 0;
        .avatar {
          width: 172px;
          height: 172px;
          background: black;
          position: relative;
          top: -50px;
          border-radius: 3px;
          text-align: center;
          padding-top: 60px;
          color: white;
          span {
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            font-family: "Proxima Semibold", sans-serif;
          }
        }
      }

      .col-md-10 {
        padding-left: 0;
      }

      .nav {
        >li {
          &:first-child {
            a {
              padding-left: 6px;
            }
          }
          >a {
            color: white;
            font-size: 18px;
            text-decoration: none;
            font-family: "Proxima Bold", sans-serif;
            font-weight: 700;
            padding: 22px 15px;
            &:hover, &:focus, &:active {
              background: none;
              color: white;
            }
          }
        }
      }

    }
  }
}


.profile-inner {
  padding-bottom: 100px;

  .header {
    margin-bottom: 50px;
    ul {
      display: inline-block;
      vertical-align: middle;
      li {
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
        &.active {
          text-decoration: underline;
        }
        a {
          font-size: 16px;
          &.positive {
            color: #36a34b;
          }
          &.negative {
            color: #ff0000;
          }
        }
      }
    }
  }

  .page-title {
    font-size: 32px;
    font-weight: 700;
    font-family: "Proxima Bold", sans-serif;
  }
  .inner {
    -webkit-box-shadow: 0 3px 8px -1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 3px 8px -1px rgba(0,0,0,.2);
    box-shadow: 0 3px 8px -1px rgba(0,0,0,.2);
    border-radius: 0 0 4px 4px;
    min-height: 100px;
    padding: 30px;
    >.title {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      font-family: "Proxima Bold", sans-serif;
    }
    &.rating {
      .title {
        font-size: 16px;
        font-weight: 600;
        font-family: "Proxima Semibold", sans-serif;
        margin-bottom: 25px;
      }
      .value {
        font-size: 16px;
      }
    }
  }
}