.security-block {
  padding-bottom: 80px;

  margin-top: 180px;

  h1 {
    margin: 0;
  }
  .top-links {
    text-align: right;
    >li {
      display: inline-block;
      list-style: none;
      margin-top: 10px;
      > a {
        padding-left: 27px;
      }
    }
  }

  form {

    &.login-form {
      margin-top: 85px;
      margin-bottom: 20px;
      input[type=submit] {
        padding: 15px 47px;
        background: #337ccf;
        font-size: 19px;
        font-weight: 700;
        border-color: #337ccf;
        margin-top: 20px;
      }
    }

    p.error-message {
      color: #ff0000;
      margin-top: 5px;
      display: none;
    }

    .error-message {
      color: #ff0000;
      margin-top: 18px;
      display: none;
    }

    input[type=text], input[type=email], input[type=password] {
      width: 100%;
      color: #b2b2b2;
      font-size: 18px;
      padding: 15px 20px;
      border: 1px solid #dedfe1;
      margin-bottom: 6px;
      &.error {
        border-color: #eb8687;
      }
    }

    .reg-submit {
      background: #000;
      font-size: 19px;
      font-weight: 700;
      font-family: "Proxima Bold", sans-serif;
      padding: 14px 28px;
      border: #000;
      color: white;
    }

    .activate-text {
      width: 90%;
      max-width: 170px;
      background: #337ccf;
      padding: 12px;
      color: white;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: -12px;
        top: 72px;
        width: 0;
        height: 0;
        border-top:20px solid transparent;
        border-bottom:20px solid transparent;
        border-left:12px solid #337ccf;
        clear: both;
      }

      .icon-email {
        display: inline-block;
        vertical-align: top;
      }
      .title {
        line-height: 1;
        font-size: 16px;
        font-weight: 700;
        font-family: "Proxima Bold", sans-serif;
      }

      .text {
        font-size: 12px;
        margin-top: 15px;
      }
    }



    .user-types {
      margin: 35px 0;
      >div {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;

        &.second {
          >div {
            background-position: -50px -3px;
            &.checked {
              background-position: -75px -3px;
            }
          }
          >label {
            color: #3966d0;
          }
        }

        &.third {
          >div {
            background-position: -100px -3px;
            &.checked {
              background-position: -123px -3px;
            }
          }
          >label {
            color: #5db349;
          }
        }

        >div {
          margin-right: 7px;
          vertical-align: top;

        }
        >label {
          display: inline-block;
          vertical-align: middle;
          font-weight: 400;
          font-family: "Proxima Regular", sans-serif;
        }
      }
    }

    .bottom {
      margin-top: 50px;


      &.error {
        .error-message {
          display: block;
          margin-top: 0;
        }
        .rules-agree {
          color: #ff0000;
          a {
            color: #ff0000;
          }
        }
      }

      .rules-agree {
        color: #838383;
        font-size: 13px;
        a {
          text-decoration: underline;
        }
      }

    }

    .reg-info {
      >span {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        color: #838383;
        margin-right: 6px;
      }
    }
  }

  hr {
    border-color: #e0e0e0;
    margin: 30px 0;
  }

  .social {
    >span {
      display: inline-block;
      vertical-align: top;
      color: #a5a6a8;
      font-size: 22px;
      padding: 14px 0;
    }
    >div {
      display: inline-block;
      vertical-align: top;
      margin-left: 35px;
      margin-top: 8px;
      img {
        margin-right: 16px;
      }
    }
  }

}