{% if title %}
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
{% endif %}

{% if description %}
    <meta property="og:description" content="{{ description }}" />
    <meta name="description" content="{{ description }}"/>
{% endif %}


