{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Биллинг', 'keywords':'', 'description':''} %}
{% endblock %}

{% block pageTitle %}Биллинг \ Списание{% endblock %}

{% block profileContent %}

    <div>
        <table class="table">
            <thead>
            <th>Номер</th>
            <th>Сумма</th>
            <th>Заказ</th>
            <th>Дата создания</th>
            </thead>
            <tbody>
            {% for debit in debits %}
                <tr>
                    <td>{{ debit.id }}</td>
                    <td>{{ debit.total }}</td>
                    <td>{{ debit.order.title }}</td>
                    <td>{{ debit.dateCreated|date('Y-m-d H-i') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}