{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Биллинг', 'keywords':'', 'description':''} %}
{% endblock %}

{% block pageTitle %}Биллинг \ Пополнения{% endblock %}

{% block profileContent %}

    <div>
        <table class="table">
            <thead>
            <th>Номер</th>
            <th>Сумма</th>
            <th>Ккомментарий</th>
            <th>Дата создания</th>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.total }}</td>
                        <td>{{ payment.text }}</td>
                        <td>{{ payment.dateCreated|date('Y-m-d H-i') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}