<div class="col-md-4">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a>Новости</a>
        </li>
        <li>
            <a ui-sref="content_reviews">Отзывы</a>
        </li>
    </ul>
</div>

