<div class="col-md-12">
    <form ng-submit="vm.save()" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Имя</label>
            <div class="col-md-9">
                <input type="text" ng-model="vm.review.name" required class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Средняя оценка</label>
            <div class="col-md-9">
                <input type="text" ng-model="vm.review.mark" required class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Текст</label>
            <div class="col-md-9">
                <textarea ng-model="vm.review.text" required class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-3">
                <input
                        type="button"
                        class="btn btn-default pull-right"
                        value="Выберите файл"
                        ngf-select
                        ng-model="vm.file"
                        name="file"
                        ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"
                        ngf-min-height="86"
                        ngf-max-height="86"
                        ngf-min-width="86"
                        ngf-max-width="86"
                        ngf-change="vm.check($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                        >
            </div>
            <div class="col-md-9">
                <img ngf-thumbnail="vm.file" width="86">
            </div>





        </div>



        <input type="submit" class="btn btn-primary pull-right" value="Сохранить">
    </form>
</div>