<div class="col-md-12">

    <a ui-sref="content_review_add" class="btn btn-default">
        <i class="fa fa-plus"></i> Добавить
    </a>

    <table class="table">
        <thead>
        <th>Имя</th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="review in vm.reviews track by review.id">
            <td>{{review.name}}</td>
            <td>
                <a class="btn btn-default btn-xs" ui-sref="content_review_edit({id:review.id})">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger btn-xs" ng-click="vm.delete(review)">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>