.icon-arrow { background-image: url('./sprites.png'); background-position: 0 0; width: 8px; height: 5px; }
.icon-email { background-image: url('./sprites.png'); background-position: 0 -5px; width: 22px; height: 24px; }
.icon-fb-white { background-image: url('./sprites.png'); background-position: 0 -29px; width: 16px; height: 16px; }
.icon-inst-white { background-image: url('./sprites.png'); background-position: 0 -45px; width: 18px; height: 17px; }
.icon-no-photo-black { background-image: url('./sprites.png'); background-position: 0 -62px; width: 32px; height: 32px; }
.icon-ok-white { background-image: url('./sprites.png'); background-position: 0 -94px; width: 16px; height: 16px; }
.icon-settings-icon { background-image: url('./sprites.png'); background-position: 0 -110px; width: 15px; height: 15px; }
.icon-upload-image { background-image: url('./sprites.png'); background-position: 0 -125px; width: 32px; height: 32px; }
.icon-user-icon { background-image: url('./sprites.png'); background-position: 0 -157px; width: 15px; height: 15px; }
.icon-vk-white { background-image: url('./sprites.png'); background-position: 0 -172px; width: 19px; height: 11px; }
