{% extends 'front_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Вход', 'keywords':'', 'description':''} %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-5 login-box">
                <div class="panel panel-default">
                    <div class="panel-intro text-center">
                        <h2 class="logo-title" style="margin-top: 5px">

                            <span class="logo-icon">
                                <img class="img-responsive" style="height: 50px;" src="{{ asset('img/logo.png') }}">
                            </span> RE<span>MOTO
                            </span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'FOSUserBundle') }}</div>
                        {% endif %}
                        <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="form-group">
                                <label for="sender-email" class="control-label">Email или телефон:</label>
                                <div class="input-icon"><i class="icon-user fa fa-user"></i>
                                    <input id="sender-email" type="text" class="form-control email" name="_username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user-pass" class="control-label">Пароль:</label>
                                <div class="input-icon"><i class="icon-lock fa fa-lock"></i>
                                    <input type="password" class="form-control" id="user-pass" name="_password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary  btn-block">Войти</button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">

                        <p class="text-center pull-right">
                            <a href="{{ path('fos_user_resetting_request') }}"> Забыли пароль? </a>
                        </p>
                        <div style=" clear:both"></div>
                    </div>
                </div>
                <div class="login-box-btm text-center">
                    <p> Не зарегистрированы? <br>
                        <a href="{{ path('fos_user_registration_register') }}"><strong>Зарегистрируйтесь !</strong> </a></p>
                </div>
            </div>
        </div>
    </div>


    {#<div class="container security">#}
        {#<div class="row">#}
            {#<div class="col-lg-6 col-lg-offset-3">#}


                {#<form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">#}
                    {#{% if csrf_token %}#}
                        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
                    {#{% endif %}#}
                    {#<div class="form-group">#}
                        {#<label for="exampleInputEmail1">Email или телефон</label>#}
                        {#<input type="text" id="username" name="_username" required="required" placeholder="Email" class="form-control"/>#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<label for="exampleInputPassword1">Пароль</label>#}
                        {#<input type="password" id="password" name="_password" required="required" placeholder="Пароль" class="form-control"/>#}
                    {#</div>#}

                    {#<button type="submit" class="btn btn-default">Войти</button> или <a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a>#}
                {#</form>#}

                {#<!--p>#}
                    {#<a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a>#}
                {#</p-->#}



            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}


