<div class="col-md-12">
    <table ng-table="vm.table" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="row in $data track by row.id">
            <td data-title="'ID'">
                <a ui-sref="user_page({id:row.id})">
                    {{row.id}}
                </a>
            </td>
            <td data-title="'Имя'">
                <a ui-sref="user_page({id:row.id})">
                    {{row.name}}
                </a>
                <a href="{{row.switch_url}}" target="_self">
                    <i class="fa fa-caret-square-o-right"></i>
                </a>
            </td>
            <td data-title="'Телефон'">{{row.phone}}</td>
            <td data-title="'Email'">{{row.email}}</td>
            <td data-title="'Последнее действие'">{{row.last_active_date|date:"yyyy-MM-dd HH-mm"}}</td>
        </tr>
    </table>
</div>