

<div class="col-lg-12">

    <div class="row">
        <div class="col-lg-6">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-lg-3 control-label">Имя</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" ng-model="vm.user.name" required readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" ng-model="vm.user.email" required readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Телефон</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" ng-model="vm.user.phone" required readonly>
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-lg-3 control-label">Город</label>
                    <div class="col-lg-9">
                        {{vm.user.city.title}}
                    </div>
                </div>




                <!--<div class="form-group">-->
                    <!--<div class="col-lg-offset-9">-->
                        <!--<input type="submit" class="btn btn-default" value="Сохранить">-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
    </div>



</div>