{% extends "front_layout.html.twig" %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Восстановление пароля', 'keywords':'', 'description':''} %}
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Восстановление пароля</h1>

                    <div class="inner-box">
                        Инструкция по восстановлению пароля выслана на указанный Вами Email.
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
