{% extends "front_layout.html.twig" %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Восстановление пароля', 'keywords':'', 'description':''} %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 login-box">
                <div class="panel panel-default">
                    <div class="panel-intro text-center">
                        <h2 class="logo-title" style="margin-top: 5px">

                            <span class="logo-icon">
                                <img class="img-responsive" style="height: 50px;" src="{{ asset('img/logo.png') }}">
                            </span> RE<span>MOTO
                            </span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                            <div class="form-group">
                                <label class="control-label" for="username">Ваш Email</label>

                                <input type="text" id="username" name="username" required="required" class="form-control"/>
                            </div>
                            <div class="form-group" style="text-align: center">
                                <input type="submit" value="Отправить запрос" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">


                        <div style=" clear:both"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
