{% extends "front_layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 login-box">
                <div class="panel panel-default">
                    <div class="panel-intro text-center">
                        <h2 class="logo-title" style="margin-top: 5px">

                            <span class="logo-icon">
                                <img class="img-responsive" style="height: 50px;" src="{{ asset('img/logo.png') }}">
                            </span> RE<span>MOTO
                            </span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset form-horizontal' } }) }}

                        <div class="form-group required">
                            <label class="col-md-4 control-label">Новый пароль <sup>*</sup></label>
                            <div class="col-md-6">
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group required">
                            <label class="col-md-4 control-label">Повторите пароль <sup>*</sup></label>
                            <div class="col-md-6">
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        {{ form_widget(form) }}
                        <div style="text-align: center;">
                            <input type="submit" value="Закончить восстановление" class="btn btn-primary"/>
                        </div>
                        {{ form_end(form) }}

                    </div>
                    <div class="panel-footer">


                        <div style=" clear:both"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
