{% extends 'front_layout.html.twig' %}



{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Поиск автосервиса, СТО ремонт автомобиля через онлайн заявки.', 'keywords':'', 'description':''} %}
{% endblock %}

{% block content %}

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        {{ getCity().title }}. Все СТО
                    </h1>

                    <div class="inner-box">

                        <div class="category-list">




                            <div class="adds-wrapper">

                                {% for sto in pagination %}
                                    <div class="item-list make-compact">
                                        <div class="col-sm-2">
                                            <a href="{{ path('sto_page', {id: sto.id, slug: sto.slug}) }}">
                                                {% if sto.image %}
                                                    <img src="/uploads/sto/{{ sto.id }}/{{ sto.image }}" class="img-responsive">
                                                {% else %}
                                                    <img src="{{ asset('img/no-photo-black.png') }}" class="img-responsive">
                                                {% endif %}
                                            </a>


                                        </div>
                                        <div class="add-desc-box col-sm-8">
                                            <div class="add-details">
                                                <h5 class="add-title" style="float: none">
                                                    <a href="{{ path('sto_page', {id: sto.id, slug: sto.slug}) }}">{{ sto.title }}</a>
                                                </h5>
                                                <span class="info-row">
                                                    <span class="add-type business-ads tooltipHere">
                                                        {{ sto.address }}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>


                                    </div>

                                {% else %}
                                    <p>Добавленных СТО пока нет.</p>
                                {% endfor %}





                            </div>


                        </div>


                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>




                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
