{% extends 'front_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Поиск автосервиса, СТО ремонт автомобиля через онлайн заявки.', 'keywords':'', 'description':''} %}
{% endblock %}

{% block content %}
    <section class="top" id="top">
        <div class="container">
            <h1>Заявка во все СТО города в 3 клика</h1>
            <h4>Получайте предложения от всех, выбирайте лучшее.</h4>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <form class="form" method="get" id="index-form" {% if app.user %}action="{{ path('new_order') }}"{% endif %}>
                        {% include "common/form/order_base.html.twig" %}

                        <input type="submit" id="order-btn" class="btn btn-base btn-warning" value="Заявка во все сервисы" disabled>
                    </form>
                    <p class="col-lg-4 col-lg-offset-4 main-text">
                        Ваша заявка будет отправлена во все СТО, и вы сможете выбрать лучший вариант.
                    </p>
                </div>
            </div>

        </div>

    </section>

    <section class="order">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 item">
                    <h3><i class="fa fa-file-text-o fa-2x"></i></h3>
                    <div class="text">
                        <h4>1. Создайте заявку</h4>
                        <p>
                            Пройдите простую регистрацию и отправьте бесплатную заявку во все СТО вашего города.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 item">
                    <h3><i class="fa fa-check fa-2x"></i></h3>
                    <div class="text">
                        <h4>2. Выберите выгодное предложение</h4>
                        <p>
                            Из всех предложений выбирайте самое выгодное и принимайте его в личном кабинете.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 item">
                    <h3><i class="fa fa-thumbs-o-up fa-2x"></i></h3>
                    <div class="text">
                        <h4>3. Примите работу</h4>
                        <p>
                            Приезжайте на сервис в оговоренное время и отремонтируйте свой автомобиль на выгодных условиях.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="new">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <h3>Новые заявки</h3>

                        {% for order in newOrders %}
                            <div class="inner-box item">
                                <div class="row">
                                    <div class="col-xs-4 col-lg-4">
                                        {% if order.images %}
                                            <img src="{{ order.getImages()[0] }}" class="img-responsive">
                                        {% else %}
                                            <img src="{{ asset('img/no-image.jpg') }}" class="img-responsive">
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-8 col-lg-8">
                                        <h3>{{ order.title }}</h3>
                                        <p>{{ order.mark.title }} {{ order.model.title }}, {{ order.year }} г</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <a href="#top" class="btn btn-warning btn-lg">
                            Добавить заявку
                        </a>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div>
                        <h3>Новые СТО</h3>

                        {% for sto in newSto %}
                            <div class="inner-box item">
                                <div class="row">
                                    <div class="col-xs-4 col-lg-4">
                                        {% if sto.image %}
                                            <img src="/uploads/sto/{{ sto.id }}/{{ sto.image }}" class="img-responsive">
                                        {% else %}
                                            <img src="{{ asset('img/no-image.jpg') }}" class="img-responsive">
                                        {% endif %}

                                    </div>
                                    <div class="col-xs-8 col-lg-8">
                                        <h3>{{ sto.title }}</h3>
                                        <p>{{ sto.getAddress() }}</p>
                                    </div>
                                </div>






                            </div>
                        {% endfor %}

                        <a href="{{ path('for_sto') }}" class="btn btn-warning btn-lg">
                            Добавить СТО
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="sto">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>


    <div class="modal fade" tabindex="-1" role="dialog" id="order-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Подача заявки</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <select class="selectpicker main-select form-control show-menu-arrow" data-live-search="true" id="modal-order-mark" name="mark">
                                    <option>Марка</option>
                                    {% for mark in marks %}
                                        <option value="{{ mark.id }}">{{ mark.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="form-group">
                                <select class="selectpicker main-select form-control show-menu-arrow" data-live-search="true" id="modal-order-model" disabled name="model">
                                    <option>Модель</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="form-group">
                                <select class="selectpicker main-select form-control show-menu-arrow" id="modal-order-year" disabled name="year">
                                    <option>Год выпуска</option>
                                    {% for i in 2017..1980 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div>
                        <textarea class="form-control"id="modal-order-text" rows="4" disabled placeholder="Что нужно сделать? Например: замена масла" name="text">

                        </textarea>
                    </div>



                    <div class="promo-text-box">
                        <p>
                            Для того чтобы завершить подачу заявки, пройдите простую регистрацию
                        </p>
                        <p>
                            Мы надежно храним Ваши данные и не передаем их без Вашего согласия. Номер телефона необходим для обработки Ваших заявок и предложений от СТО.
                        </p>
                    </div>

                    {{ form_start(form, {'attr':{id:'register-form', class: 'form-horizontal'},'method': 'post', 'action': path('fos_user_registration_register')}) }}
                    <fieldset>

                        <div class="form-group required">
                            <label class="col-md-4 control-label">Имя <sup>*</sup></label>
                            <div class="col-md-6">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-md-4 control-label">Email <sup>*</sup></label>
                            <div class="col-md-6">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-md-4 control-label">Пароль <sup>*</sup></label>
                            <div class="col-md-6">
                                {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-md-4 control-label">Телефон <sup>*</sup></label>
                            <div class="col-md-6">
                                {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                <span id="helpBlock" class="help-block">Для связи с СТО</span>
                            </div>
                        </div>

                        <div class="form-group" id="final-btns">
                            <div class="col-lg-12" style="text-align: center">
                                <input type="button" class="btn btn-primary" value="Регистрация" id="reg-btn">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-8">

                            </div>
                        </div>

                        <div class="form-group" id="sms-form" style="display: none">

                            <div class="col-lg-8 col-lg-offset-2">
                                <p>
                                    Укажите код, который пришел на телефон, указанный Вами
                                </p>

                                <div class="col-lg-8">
                                    <input type="text" class="form-control" placeholder="Код из СМС" id="sms-code" maxlength="5">
                                </div>
                                <div class="col-lg-4">
                                    <input type="submit" id="confirm" class="btn btn-success" disabled value="Подтвердить" data-loading-text="Идет загрузка...">
                                </div>
                            </div>

                        </div>
                    </fieldset>
                    {{ form_end(form) }}

                    <div style="text-align: center">
                        Уже зарегистрированы ? <a href="{{ path('fos_user_security_login') }}">Войдите</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.mask.min.js') }}"></script>
    <script src="{{ asset('js/order.js') }}"></script>
    <script src="{{ asset('js/register.js') }}"></script>

    <script>
        $(function () {
            Order.initBase();
            {% if not app.user %}
                Order.initIndexForm();
                Register.init();
            {% endif %}

        })
    </script>
{% endblock %}
