{% extends 'front_layout.html.twig' %}

{% form_theme form 'common/form/form_bootstrap.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Поиск автосервиса, СТО ремонт автомобиля через онлайн заявки.', 'keywords':'', 'description':''} %}
{% endblock %}

{% block content %}

    <section class="top sto">
        <div class="container">
            <div class="row">
                <h1>
                    Получайте заявки, а не клики
                </h1>
                <h4>
                    Мы приводим клиентов, вам остается только принять заказ и сделать ремонт
                </h4>
            </div>

        </div>
    </section>


    <section class="connect" id="connect">
        <div class="container">
            <div class="row">
                <h2>Подключитесь к Remoto</h2>

                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_widget(form) }}

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6" style="text-align: center">
                        <input type="submit" class="btn btn-primary" value="Отправить заявку">
                    </div>

                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </section>


  <!-- section class="why">
      <div class="container">
          <div class="row">
              <h2>Почему сотрудничество с REMOTO выгодно для СТО</h2>

              <ul>
                  <li>
                      Поток новых клиентов из интернета.
                  </li>
                  <li>
                      Бесплатная реклама в интернете и на радио. Remoto берет расходы на привлечение клиентов на себя. Мы команда профессиональных маркетологов, которые знаю, как создать выгодную рекламу.
                  </li>
                  <li>
                      Вы оплачиваете услуги REMOTO только в тот момент, когда клиент выбирает для ремонта именно ваше СТО. 2 рубля за заявку на ремонт, все прозрачно и просто.
                  </li>
              </ul>
          </div>
      </div>
  </section -->

  <section class="top2 sto">
        <div class="container">
            <div class="row">
                <h2>
                    Почему сотрудничество с REMOTO выгодно для СТО
                </h2>
                <ul>
                  <li>1. Поток новых клиентов из интернета.</li>
                  <li>2. Вы не платите за рекламу. Все продвижение мы берем на себя.</li>
                  <li>3. Всего 2 рубля за одобренную заявку.</li>
                </ul>
            </div>

        </div>
    </section>


   <section class="how">
       <div class="container">

           <h2>Как работает сервис REMOTO?</h2>

           <div class="row text-center">
               <!-- table>
                   <tbody><tr class="current">
                       <td class="num" rowspan="2"><span>1</span></td>
                       <td class="head">Клиент отправляет заявку на оценку ремонта</td>
                   </tr>
                   <tr>
                       <td class="desc">Клиент описывает неисправности своего авто.</td>
                   </tr>

                   <tr>
                       <td class="num" rowspan="2"><span>2</span></td>
                       <td class="head">Автосервис предлагает свои условия</td>
                   </tr>
                   <tr>
                       <td class="desc">Клиент в ответ получает предложение от сервиса: стоимость и сроки ремонта.</td>
                   </tr>

                   <tr class="">
                       <td class="num" rowspan="2"><span>3</span></td>
                       <td class="head">Клиент записывается на сервис</td>
                   </tr>
                   <tr>
                       <td class="desc">Сравнив условия, клиент выбирает СТО для ремонта.</td>
                   </tr>

                   <tr class="">
                       <td class="num" rowspan="2"><span>4</span></td>
                       <td class="head">Ремонт авто</td>
                   </tr>
                   <tr>
                       <td class="desc">Клиент с направлением от Remoto.by едет в Ваш сервис.</td>
                   </tr>

                   </tbody></table -->
                   <div class="col-lg-6">
                     <div class="num"><span>1</span></div>
                     <div class="head">Клиент отправляет заявку на оценку ремонта</div>
                     <div class="desc">Клиент описывает неисправности своего авто. Прикрпеляет фотографии и делает все необходимые заметки.</div>
                   </div>
                   <div class="col-lg-6">
                     <div class="num"><span>2</span></div>
                     <div class="head">Автосервис предлагает свои условия</div>
                     <div class="desc">Клиент в ответ получает предложение от сервиса: стоимость и сроки ремонта. СТО имеет возможность задать уточняющие вопросы до того как сделать предложение.</div>
                   </div>
                   <div class="col-lg-6">
                     <div class="num"><span>3</span></div>
                     <div class="head">Клиент записывается на сервис</div>
                     <div class="desc">Клиент выбирает предложение с наиболее выгодными условиями</div>
                   </div>
                   <div class="col-lg-6">
                     <div class="num"><span>4</span></div>
                     <div class="head">Ремонт авто</div>
                     <div class="desc">Клиент с направлением от Remoto.by едет в Ваш сервис. Дальше происходит ваша обычныя работа с клиентом.</div>
                   </div>
           </div>
       </div>
   </section>





    <section class="bottom">
        <div class="container">
            <div class="row">
                <h2>
                    Интернет меняет нашу жизнь, будьте 1-ми среди конкурентов на этом рынке.
                    Подключайтесь к Remoto сейчас!
                </h2>

                <a class="btn btn-warning btn-lg" href="#connect">Подключиться</a>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.mask.min.js') }}"></script>

    <script>
        $(function () {
            $('#sto_phone').mask('375000000000', {placeholder: "375"});
        })
    </script>
{% endblock %}
