{% extends 'front_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': sto.title, 'keywords':'', 'description':''} %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.bxslider.min.css') }}">
    <style>
        .bxslider {
            display: none;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ sto.title }}</h1>

                    <div class="inner-box">


                        <div class="row">
                            <div class="col-lg-4">
                                <img src="/uploads/sto/{{ sto.id }}/{{ sto.image}}" class="img-responsive">
                            </div>
                            <div class="col-lg-8">
                                <p>{{ sto.address}}</p>

                                {% if sto.services %}
                                    <p>
                                        {% if sto.services.wiFi %}
                                            wi-fi
                                        {% endif %}
                                    </p>
                                    <p>
                                        {% if sto.services.tv %}
                                            Телевизор
                                        {% endif %}
                                    </p>
                                    <p>
                                        {% if sto.services.card %}
                                            Можно расплатиться картой
                                        {% endif %}
                                    </p>
                                {% endif %}

                            </div>

                            <div class="col-lg-12" style="margin-top: 20px;font-size: 14px">
                                {{ sto.description|raw }}
                            </div>

                            {#<div class="col-lg-12" style="margin-top: 20px">#}
                            {#<ul class="bxslider">#}
                            {#{% for image in sto.images %}#}
                            {#<li>#}
                            {#<img src="/uploads/sto/{{ sto.id }}/{{ image }}">#}
                            {#</li>#}
                            {#{% endfor %}#}
                            {#</ul>#}
                            {#</div>#}

                            <div class="col-lg-12">
                                <div style="text-align: center;margin-bottom: 10px">
                                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber,whatsapp,skype,telegram"></div>
                                </div>


                                <div id="map" style="width: 100%;height: 200px"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
    <script src="//api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.bxslider.min.js') }}"></script>
    <script>
        $(function () {
            $('.bxslider').show();
            $('.bxslider').bxSlider({
                mode: 'fade',
                captions: true,
                adaptiveHeight: false
            });

            ymaps.ready(function () {
                var myMap = new ymaps.Map('map', {
                    center: [{{ sto.lat }}, {{ sto.lon }}],
                    zoom: 14
                });

                var myPlacemark = new ymaps.Placemark(myMap.getCenter());


                myMap.geoObjects.add(myPlacemark);
                myMap.behaviors.enable('scrollZoom');
            });
        });
    </script>
{% endblock %}
