<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Тех задания</h3>


            </div>
            <!-- /.box-header -->
            <div class="box-body">
                Тут что-нибудь будет
            </div>
            <!-- ./box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>