<div class="col-md-12">


    <table ng-table="vm.table" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="row in $data track by row.id">
            <td data-title="'ID'">
                <a ui-sref="order_page({id:row.id})">{{row.id}}</a>
            </td>
            <td data-title="'Название'">
                <a ui-sref="order_page({id:row.id})">{{row.title}}</a>
            </td>
            <td data-title="'Пользователь'">
                <a ui-sref="user_page({id:row.owner.id})">{{row.owner.name}}</a>
            </td>
            <td data-title="'Статус'">
                <span ng-show="row.status == 0">Активная</span>
                <span ng-show="row.status == 1">В работе</span>
                <span ng-show="row.status == 2">Закончена</span>
            </td>
            <td data-title="'Тип'">
                <span ng-show="row.type == 1">Платная</span>
                <span ng-show="row.type == 2">Бесплатная</span>
            </td>
            <td data-title="'Кол-во предложений'">
                {{row.answers_count}}
            </td>
            <td data-title="'Дата создания'">{{row.date_created|date:"yyyy-MM-dd HH-mm"}}</td>
            <td data-title="'Дата ремонта'">{{row.date|date:"yyyy-MM-dd"}}</td>

        </tr>
    </table>
</div>