

<div class="col-lg-12">

    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal" ng-submit="vm.save()">

                <div class="form-group">
                    <label class="col-lg-3 control-label">Название</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" ng-model="vm.order.title" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Описание</label>
                    <div class="col-lg-7">
                        <textarea class="form-control">{{vm.order.text}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Марка</label>
                    <div class="col-lg-7">
                        {{vm.order.mark.title}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Модель</label>
                    <div class="col-lg-7">
                        {{vm.order.model.title}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Год выпуска</label>
                    <div class="col-lg-7">
                        {{vm.order.year}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Тип заявки</label>
                    <div class="col-lg-7">
                        <select ng-model="vm.order.type" class="form-control">
                            <option ng-value="1">Платная</option>
                            <option ng-value="2">Бесплатная</option>
                        </select>
                    </div>
                </div>





                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input type="submit" class="btn btn-default" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-12">
            <h3>Предложения</h3>

            <table class="table">
                <thead>
                <th>ID</th>
                <th>СТО</th>
                <th>Дата</th>
                <th>Стоимость</th>
                <th>Комментарий</th>
                </thead>
                <tbody>
                    <tr ng-repeat="answer in vm.answers">
                        <td>{{answer.id}}</td>
                        <td><a ui-sref="sto_page({id:answer.owner.id})">{{answer.owner.title}}</a></td>
                        <td>{{answer.date_created|date:"yyyy-MM-dd HH-mm"}}</td>
                        <td>{{answer.price}}</td>
                        <td>{{answer.comment}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>



</div>