body {
  background: #edf1f2;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 21px;
}

body>header {
  background: #2c2e32;
  width: 100%;
  height: 60px;

  .nav {
    >li {
      &.active {
        color: #fff;
        border-bottom: 3px solid #4d91ff;
        a {
          background: none;
        }
      }
      >a {
        display: inline-block;
        font-size: 16px;
        line-height: 27px;
        text-decoration: none;
        color: #a4a6aa;
        font-weight: 400;
        cursor: pointer;
        -webkit-transition: color .2s linear;
        -moz-transition: color .2s linear;
        -ms-transition: color .2s linear;
        -o-transition: color .2s linear;
        transition: color .2s linear;

        &:hover {
          background:none;
          color:#fff;
        }

      }
    }
  }
}

.d-admin-wrapper {
  margin: 0 auto;
  min-height: 900px;
  padding: 42px 0;
  position: relative;
  background: #fafafc;
  box-sizing: border-box;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.19);
  .content {
    padding: 0 15px;
    h1 {
      color: #404246;
      font-size: 1.8em;
      font-weight: 300;
      font-family: 'Open Sans Light',sans-serif;
      margin: 0;
      padding: 0;
    }
    >div {
      margin-top: 20px;
    }
  }
}