<div class="col-md-12">
    <div class="progress">
        <div id="progress"  class="progress-bar progress-bar-success"></div>
    </div>


    <form ng-submit="vm.save()" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Название</label>
            <div class="col-md-9">
                <input type="text" ng-model="vm.category.title" required class="form-control" required>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-3">
                <input
                        type="button"
                        class="btn btn-default pull-right"
                        value="Выберите файл"
                        ngf-select
                        ng-model="vm.file"
                        name="file"
                        ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"
                        ngf-min-height="126"
                        ngf-max-height="126"
                        ngf-min-width="126"
                        ngf-max-width="126"
                        ngf-change="vm.check($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                        >
            </div>
            <div class="col-md-9">
                <img ngf-thumbnail="vm.file" width="126">
            </div>





        </div>



        <input type="submit" class="btn btn-primary pull-right" value="Сохранить">
    </form>
</div>