<div class="col-md-12">

    <a ui-sref="categories_add" class="btn btn-default">
        <i class="fa fa-plus"></i> Добавить
    </a>

    <table class="table">
        <thead>
        <th>Название</th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="category in vm.categories track by category.id">
            <td>{{category.title}}</td>
            <td>
                <a class="btn btn-default btn-xs" ui-sref="subcategories({id:category.id})">
                    Подкатегории
                </a>
                <a class="btn btn-default btn-xs" ui-sref="category_edit({id:category.id})">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger btn-xs" ng-click="vm.delete(category)">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>