<div class="col-md-12">
    <table class="table">
        <thead>
        <th>Название</th>
        <th>Ключ</th>
        <th>Значение</th>
        </thead>
        <tbody>
            <tr ng-repeat="option in vm.options track by option.id">
                <td>{{option.title}}</td>
                <td>{{option.key}}</td>
                <td>
                    <a href="#" editable-text="option.value" onaftersave="vm.save(option)">{{ option.value }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>