<div class="col-md-4">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a ui-sref="options_main">Главная страница</a>
        </li>
        <li>
            <a ui-sref="options_functional">Функционал</a>
        </li>
        <li>
            <a ui-sref="options_categories">Категории</a>
        </li>
    </ul>
</div>

