<div class="col-md-12">
    <form ng-submit="vm.save()" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Видео</label>
            <div class="col-md-9">
                <textarea ng-model="vm.video.value" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Изображения для слайдера</label>
            <div class="col-md-9">
                <input
                        type="button"
                        class="btn btn-default"
                        value="Выберите файл"
                        ngf-select="vm.upload($file, $invalidFiles)"
                        name="file"
                        ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"
                        >

                <div ng-repeat="image in vm.images" style="margin-top: 15px">
                    <div ng-if="image">
                        <img src="/uploads/slider/{{image}}" height="200px">
                        <a class="btn btn-default btn-xs" ng-click="vm.removeFile(image)">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>

                </div>

            </div>
        </div>


        <input type="submit" class="btn btn-primary pull-right" value="Сохранить">
    </form>
</div>