<div class="col-md-12">
    <form ng-submit="vm.save()" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Название</label>
            <div class="col-md-9">
                <input type="text" ng-model="vm.category.title" required class="form-control">
            </div>
        </div>

        <input type="submit" class="btn btn-primary pull-right" value="Сохранить">
    </form>
</div>