<div class="col-lg-12">

    <form class="form-horizontal" ng-submit="vm.save()">
        <div class="form-group">
            <label class="col-lg-2 control-label">Название</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="vm.article.title" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Meta. Description</label>
            <div class="col-lg-6">
                <textarea ng-model="vm.article.description" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Краткое описание</label>
            <div class="col-lg-6">
                <textarea ng-model="vm.article.short_text" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Опубликовано</label>
            <div class="col-lg-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="vm.article.published">
                    </label>
                </div>
            </div>
        </div>

        <summernote ng-model="vm.article.text" height="300" data-editable="editable" data-on-image-upload="vm.imageUpload(files, editor)"></summernote>


        <div class="form-group">
            <div class="col-lg-offset-2">
                <input type="submit" class="btn btn-default" value="Сохранить">
            </div>
        </div>
    </form>

</div>