{% extends 'front_layout.html.twig' %}

{#{% set page = getPage('contacts') %}#}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title':"Контакты",'keywords':'','description':''} %}
{% endblock %}

{% block content %}

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Контакты</h1>

                    <div class="inner-box">
                        <p>
                            <a href="https://vk.com/remotoby" target="_blank">Группа вк</a>
                        </p>
                        <p>
                            support@remoto.by
                        </p>
                        <p>
                            Индивидуальный предприниматель<br>
                            Булавко Станислав Александрович<br>
                            УНП 391658633<br>
                            Банковские реквизиты: Р/сч 3013386061002<br>
                            Банк: ЗАО“ Идея Банк”<br>
                            220034, г.Минск, ул. З. Бядули, 11<br>
                            код банка 153001755
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>



{% endblock %}