{% extends 'front_layout.html.twig' %}

{#{% set page = getPage('contacts') %}#}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title':"Заявка отправлена",'keywords':'','description':''} %}
{% endblock %}

{% block content %}

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Завявка отправлена</h1>

                    <div class="inner-box">
                        Благодарим Вас за интерес к нашему сервису. В ближайшее время с Вами свяжется наш менеджер.
                    </div>

                </div>
            </div>
        </div>

    </div>



{% endblock %}