{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
Ваше СТО добавлено
{%- endautoescape -%}
{% endblock %}


{% block body_html %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>

    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table { border-collapse: collapse; }
        .button { padding:0 !important; }
    </style>
    <![endif]-->
</head>

<body style="">
<div class="body" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; table-layout: fixed; text-align: center;">

    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
        <tr>
            <td valign="top" width="600" style="padding-left: 50px; padding-right:50px;">
    <![endif]-->

    <table class="layout" cellpadding="0" align="center" style="background-color: #ffffff; border-collapse: collapse; margin: 0 auto; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;">
        <tr>
            <td class="row content" style="font-size: 0; padding: 0 0; text-align: center;">
                <div class="column" style="display: inline-block; font-size: 14px; max-width: 500px; vertical-align: top; width: 100%;">
                    <table width="100%" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0;">
                        <tr>
                            <td class="cell" style="padding: 0; text-align: left;">
                                <p class="preheader" style="Margin: 0 0 1em 0; color: #999999; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 12px; font-weight: 300; line-height: 16px; text-align: left;">Remoto - заявка во все СТО в 3 клика!</p>
                                <table class="signature" style="Margin: 1em 0; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0;">
                                    <tr>
                                        <td valign="top" rowspan="2" style="padding: 0 10px 0 0;">
                                            <img src="{{ absolute_url(asset('images/logo.png')) }}" width="60" height="60" style="-ms-interpolation-mode: bicubic;" alt=""/>
                                        </td>
                                        <td style="padding: 0;">
                                            <p style="Margin: 0; color: #000000; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 22px; text-align: left;">REMOTO.BY</p>
                                            <!--p style="Margin:0; font-size:12px;">
                                                <a href="http://remoto.by" target="_blank"><span>Remoto</span></a>
                                            </p-->
                                        </td>
                                    </tr>
                                </table>



                                <h1 id="-" style="Margin: 2em 0 0.5em 0; color: #000000; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 18px; font-weight: 300; line-height: 28px; text-align: left;">Добрый день!</h1>
                                <p style="Margin: 1em 0; color: #000000; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 22px; text-align: left;">Мы рады сообщить, что Ваша комапния зарегистрирована в сервисе <a href="http://remoto.by" target="_blank" style="color: #336E7B !important; text-decoration: underline;"><span style="color: #336E7B;">Remoto</span></a>.
                                    Ваши регистрационные данные:</p>

                                <p class="secret-data" style="Margin: 1em 0; background-color: #ececec; border: 1px solid #e3e3e3; color: #000000; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 22px; padding: 10px; text-align: left;">
                                    логин: {{ user.email }} <br>
                                    пароль: {{ password }}
                                    </br></p>

                                <p style="Margin: 1em 0; color: #000000; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 22px; text-align: left;">Для того чтобы завершить регистрацию и начать принимать заявки, Вам необходимо войти под своим логином и паролем.</p>

                                <div>




                                    <!--[if (gte mso 9)|(IE)]>
                                    <table width="auto" align="center">
                                        <tr>
                                            <td valign="top" width="auto" style="padding:10px 30px; background-color:#3399ff;">
                                    <![endif]-->

                                    <a class="button" href="http://remoto.by" target="_blank" style="background-color: #336E7B; border-radius: 2px; color: #ffffff !important; display: inline-block; font-family: 'helvetica', arial, sans-serif; font-size: 12px; font-weight: bold; letter-spacing: 1.2px; line-height: 1.2em; min-width: 40px; padding: 10px 30px; text-align: center; text-decoration: none; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); text-transform: uppercase;"><span style="color: #ffffff;">ВОЙТИ</span></a>

                                    <!--[if (gte mso 9)|(IE)]>
                                    </td>
                                    </tr>
                                    </table>
                                    <![endif]-->

                                </div>

                                <div>
                                    <p>Активные заявки</p>
                                    {% for order in orders %}
                                        <div>
                                            <h4>{{ order.title }}</h4>
                                            <p>{{ order.text }}</p>
                                            <p>{{ order.mark.title }} {{ order.model.title }}, {{ order.year }} г</p>
                                            <hr>
                                        </div>
                                    {% endfor %}
                                </div>

                                {#<p style="Margin: 1em 0; color: #000000; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 22px; text-align: left;">Пароль Вы можете сменить в любой момент в личном кабинете.</p>#}
                                <h1 id="-" style="Margin: 2em 0 0.5em 0; color: #000000; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 18px; font-weight: 300; line-height: 28px; text-align: left;">Что это вообще?</h1>
                                <p style="Margin: 1em 0; color: #000000; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 22px; text-align: left;"><a href="http://remoto.by" target="_blank" style="color: #336E7B !important; text-decoration: underline;"><span style="color: #336E7B;">Remoto</span></a> — это новый сервис для современных СТО. Наши пользователи ежедневно оставляют десятки заявок на ремонт своих автомобилей. Все что Вам нужно — сделать им выгодное предложение и забрать «горячего» клиента.</p>




                                <table class="signature" style="Margin: 1em 0; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0;">
                                    <tr>
                                        <!-- td valign="top" rowspan="2" style="padding:0 10px 0 0;"><img src="images/john.jpg" width="48" height="48" style="border-radius:100px;" alt="" /></td -->
                                        <td style="padding: 0;">
                                            <p style="Margin: 0; color: #000000; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 22px; text-align: left;">Команда Remoto.by</p>
                                            <!--p style="Margin:0; font-size:12px;">
                                                <a href="http://remoto.by" target="_blank"><span>Remoto</span></a>
                                            </p-->
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="row" style="font-size: 0; padding: 0; text-align: center;">
                <div class="column" style="display: inline-block; font-size: 14px; max-width: 500px; vertical-align: top; width: 100%;">
                    <table width="100%" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0;">
                        <tr>
                            <td class="cell" style="padding: 0; text-align: left;">
                                <p class="credits" style="Margin: 0 0 1em 0; color: #999999; display: block; font-family: 'helvetica', arial, sans-serif; font-size: 12px; font-weight: 300; line-height: 16px; text-align: left;">Вы получили это письмо, потому что кто-то указал этот электронный адрес при регистрации в сервисе <a href="http://remoto.by" target="_blank" style="color: #336E7B !important; text-decoration: underline;"><span style="color: #336E7B;">Remoto</span></a>. <a href="mailto:support@remoto.by" style="color: #336E7B !important; text-decoration: underline;">Отписаться</a> от всех уведомлений.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->

</div>
</body>

</html>
{% endblock %}

