{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Мои заказы', 'keywords':'', 'description':''} %}
{% endblock %}

{% block pageTitle %}Заявки \ В работе{% endblock %}

{% block profileContent %}

    <div class="table-responsive">
        <table class="table">
            <thead>
            <th>Номер</th>
            <th>Заголовок</th>
            <th>Машина</th>
            <th>СТО</th>
            <th>Желаемая дата ремонта</th>
            <th></th>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <a href="{{ path('profile_order_page', {'id': order.id}) }}">{{ order.id }}</a>
                    </td>
                    <td>{{ order.title }}</td>
                    <td>{{ order.mark.title }} {{ order.model.title }}</td>
                    <td>
                        <a href="{{ path('sto_page', {id: order.executor.id, slug: order.executor.slug}) }}">{{ order.executor.title }}</a>
                    </td>
                    <td>{{ order.date|date('Y-m-d') }}</td>
                    <td>
                        {% if order.owner == app.user %}
                            <a class="btn btn-info btn-xs" href="{{ path('profile_finish_order', {id:order.id}) }}">
                                Работа выполнена
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>




{% endblock %}