{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Добавление заказа', 'keywords':'', 'description':''} %}
{% endblock %}

{% block profileContent %}

    Страница добавления заказа

{% endblock %}