{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Мои заказы', 'keywords':'', 'description':''} %}
{% endblock %}

{% block pageTitle %}Мои заявки \ Архив{% endblock %}

{% block profileContent %}

    <div class="table-responsive">
        <table class="table">
            <thead>
            <th>Номер</th>
            <th>Заголовок</th>
            <th>Машина</th>
            <th>Дата завершения</th>
            <th>Желаемая дата ремонта</th>
            <th></th>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <a href="{{ path('profile_order_page', {'id': order.id}) }}">{{ order.id }}</a>
                    </td>
                    <td>{{ order.title }}</td>
                    <td>{{ order.mark.title }} {{ order.model.title }}</td>
                    <td>{{ order.dateFinish|date('Y-m-d H:i') }}</td>
                    <td>{{ order.date|date('Y-m-d') }}</td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}