{% extends 'profile_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('file-upload/css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}">
    <style>
        label.error {
            margin: 4px 0 4px 0;
        }
        .form-group {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block pageTitle %}Редактирование заявки{% endblock %}

{% block profileContent %}

    <div class="row">

        <div class="col-md-12">
            <form class="form-horizontal form" method="post" id="order-form">

                <div class="form-group required">
                    <label class="col-md-3 control-label">Марка <sup>*</sup></label>
                    <div class="col-md-8">
                        <select class="selectpicker main-select form-control show-menu-arrow" data-live-search="true" id="order-mark" name="mark">
                            <option>Марка</option>
                            {% for mark in marks %}
                                <option {% if order.mark.id == mark.id %}selected{% endif %} value="{{ mark.id }}">{{ mark.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-3 control-label">Модель <sup>*</sup></label>
                    <div class="col-md-8">
                        <select class="selectpicker main-select form-control show-menu-arrow" data-live-search="true" id="order-model" disabled name="model">
                            <option>Модель</option>
                        </select>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-3 control-label">Год выпуска <sup>*</sup></label>
                    <div class="col-md-8">
                        <select class="selectpicker main-select form-control show-menu-arrow" id="order-year" disabled name="year">
                            <option>Год выпуска</option>
                            {% for i in 2017..1980 %}
                                <option {% if order.year == i %}selected{% endif %} value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-3 control-label">Заголовок <sup>*</sup></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="title" required value="{{ order.title }}">
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-3 control-label">Что нужно сделать ? <sup>*</sup></label>
                    <div class="col-md-8">
                    <textarea class="form-control"id="order-text" rows="4" placeholder="Что нужно сделать? Например: замена масла" name="text">{% spaceless %}{{ order.text }}{% endspaceless %}</textarea>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        <p>
                            Вы можете добавить несколько фотографий, это позволит автосервису точнее оценить стоимость работ
                        </p>

                        <span class="btn btn-success fileinput-button btn-xs">
                            <i class="fa fa-plus"></i>
                            <span> Добавить файлы...</span>
                            <input id="fileupload" type="file" name="files[]" multiple  data-url="{{ path('upload') }}">
                        </span>

                        <div id="files">
                            {% for image in order.getImages() %}
                                <div class="image">
                                    <img width="200px" class="img-responsive" src="{{ image }}">
                                    <span class="remove"><i class="fa fa-remove"></i></span>
                                </div>
                                <input type="hidden" value="{{ image }}" name="images[]">
                            {% endfor %}

                        </div>
                    </div>



                </div>

                <div class="form-group required">
                    <label class="col-md-3 control-label">Дата ремонта</label>
                    <div class="col-md-8">
                        <div class="input-group date">
                            <input type="text" class="form-control" value="{% if order.date %}{{ order.date|date('Y-m-d') }}{% endif %}" name="date" id="order-date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Собственные запчасти</label>
                    <div class="col-lg-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" name="spares" {% if order.spares %}checked{% endif %}>

                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 col-md-offset-3">
                        <input type="submit" value="Сохранить" class="btn btn-danger">
                    </div>
                </div>

            </form>
        </div>


    </div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('file-upload/js/vendor/jquery.ui.widget.js') }}"></script>

    <script src="{{ asset('file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('file-upload/js/jquery.fileupload.js') }}"></script>

    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.ru.min.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/messages_ru.js') }}"></script>

    <script src="{{ asset('js/order.js') }}"></script>
    <script>
        $(function () {
            Order.initFull({{ order.model.id }});

            $.validator.addMethod("valueNotEquals", function(value, element, arg){
                return arg != value;
            }, "Value must not equal arg.");

            $('#order-form').validate({
                rules: {
                    mark: { valueNotEquals: "Марка" },
                    model: { valueNotEquals: "Модель" },
                    year: { valueNotEquals: "Год выпуска" },
                },
                messages: {
                    mark: { valueNotEquals: "Это поле необходимо заполнить" },
                    model: { valueNotEquals: "Это поле необходимо заполнить" },
                    year: { valueNotEquals: "Это поле необходимо заполнить" },
                }
            });
        })
    </script>
{% endblock %}