{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Страница заказа', 'keywords':'', 'description':''} %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.bxslider.min.css') }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.css">
    <style>
        .bxslider {
            display: none;
        }
    </style>
{% endblock %}

{% block pageTitle %}{{ order.title }}{% endblock %}

{% block profileContent %}

    <div class="row">
        <div class="col-lg-12">
            <div class="row">

                {% if order.images|length > 0 %}
                <div class="col-lg-6">

                    <ul class="bxslider">
                        {% for image in order.images %}
                            <li>
                                <img src="{{ image }}">
                            </li>
                        {% endfor %}
                    </ul>

                </div>
                {% endif %}
                <div class="col-lg-{% if order.images|length > 0 %}6{% else %}12{% endif %}">

                    <h3 class="no-margin uppercase color-danger"> Основная информация </h3>

                    <dl class="dl-horizontal">
                        <dt>Дата ремонта:</dt>
                        <dd class="contact-sensitive">
                            {% if order.date %}
                                {{ order.date|date('d-m-Y') }}
                            {% else %}
                                Не указана
                            {% endif %}
                        </dd>
                        <dt>Дата создания заявки:</dt>
                        <dd class="contact-sensitive">{{ order.dateCreated|date('d-m-Y') }}</dd>

                        <dt>Машина</dt>
                        <dd>{{ order.mark.title }} {{ order.model.title }} {{ order.year }}</dd>
                    </dl>

                    <p>{{ order.text }}</p>


                </div>
            </div>

        </div>
        <div class="col-lg-12">







            {% if order.owner == app.user %}
                <div class="category-list">
                    <div class="tab-box ">

                        <ul class="nav nav-tabs add-tabs" role="tablist">
                            <li class="active"><a href="#allAds" role="tab" data-toggle="tab"> Предложения от СТО
                                    <span class="badge">{{ answersCount }}</span></a></li>
                        </ul>

                    </div>



                    <div class="adds-wrapper">

                        {% for answer in answers %}
                            <div class="item-list make-compact">
                                <div class="col-sm-2">
                                    {{ answer.dateCreated|date('Y-m-d H-i') }}
                                </div>
                                <div class="add-desc-box col-sm-8">
                                    <div class="add-details">
                                        <h5 class="add-title">
                                            <a href="{{ path('sto_page', {id: answer.owner.id, slug: answer.owner.slug}) }}">{{ answer.owner.title }} </a>
                                        </h5>
                                        <span class="info-row">
                                            <span class="add-type business-ads tooltipHere">
                                                {{ answer.owner.address }}
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2 text-right  price-box">
                                    <h2 class="item-price"> {{ answer.price }} BYN </h2>

                                </div>

                                <div class="clearfix"></div>

                                <hr>

                                <div class="col-sm-8 col-sm-offset-2">
                                    {{ answer.comment }}
                                </div>
                                <div class="col-sm-2">
                                    {% if order.status == 0 %}
                                        <a class="btn btn-info btn-xs" href="{{ path('answer_accept', {id:answer.id}) }}">
                                            Принять
                                        </a>
                                    {% else %}
                                        {% if answer.owner == order.executor %}
                                            <b>Выбранное предложение</b>
                                        {% endif %}
                                    {% endif %}
                                </div>

                            </div>
                        {% else %}
                            <div style="padding: 20px">
                                Ответов пока нет
                            </div>
                        {% endfor %}


                    </div>


                </div>

            {% else %}

                {% if not answer %}
                    {% if app.user.balance > 0 %}
                        <h2>Оставить {% if order.type == 2 %}бесплатное {% endif %}предложение</h2>

                        <form class="form-horizontal col-lg-6" method="post" action="{{ path('answers_make', {id: order.id}) }}">
                            <div class="form-group">
                                <label class="control-label col-lg-3">Примерная стоимость</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" name="price" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-3">Комментарий</label>
                                <div class="col-lg-9">
                                    <textarea class="form-control" name="comment" required></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-danger" value="Оставить {% if order.type == 2 %}бесплатное {% endif %}предложение">
                            </div>

                        </form>
                    {% else %}
                        <p class="alert alert-danger">У Вас недостаточно средств для добавления нового предложения.</p>
                    {% endif %}

                {% else %}
                    {% if order.executor == app.user %}
                        <div class="alert alert-success">
                            <p><b>Ваше предложение выбрано!</b></p>
                            <p>Стоимость: {{ answer.price }}</p>
                            <p>Комментарий: {{ answer.comment }}</p>
                        </div>

                    {% else %}
                        <div class="alert alert-info">
                            <div class="row">
                                <div class="col-lg-10">
                                    <p>Стоимость: {{ answer.price }}</p>
                                    <p>Комментарий: {{ answer.comment }}</p>
                                    <p>Предложение оставлено</p>
                                </div>
                                <div class="col-lg-2">
                                    <a class="btn btn-danger btn-xs" id="remove" href="{{ path('answers_delete', {id:answer.id}) }}">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                    {% endif %}



                {% endif %}

            {% endif %}

        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.bxslider.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>
    <script>
        $(function () {

            $('#remove').confirm({
                title: 'Вы действительно хотите удалить предложение ?',
                content: "",
                buttons: {
                    cancel: {
                        text: 'Нет',
                        btnClass: 'btn-blue',
                        keys: ['enter', 'shift'],
                        action: function(){
                            console.log('Нет');
                        }
                    },
                    confirm: {
                        text: 'Да',
                        btnClass: 'btn-danger',
                        keys: ['enter', 'shift'],
                        action: function(){
                            location.href = this.$target.attr('href');
                        }
                    }
                }
            });

            $('.bxslider').show();
            $('.bxslider').bxSlider({
                mode: 'fade',
                captions: true,
                adaptiveHeight: true
            });
        });
    </script>
{% endblock %}