{% extends 'profile_layout.html.twig' %}

{% block seo %}
    {% include 'block/seo.html.twig' with {'title': 'Заявки', 'keywords':'', 'description':''} %}
{% endblock %}


{% block pageTitle %}Заявки{% endblock %}

{% block profileContent %}


    <div class="table-responsive">
        <table class="table">
            <thead>
            <th>Номер</th>
            <th>Заголовок</th>
            <th>Машина</th>
            <th>Дата создания</th>
            <th>Желаемая дата ремонта</th>
            <th></th>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <a href="{{ path('profile_order_page', {'id': order.id}) }}">{{ order.id }}</a>
                    </td>
                    <td>
                        <a href="{{ path('profile_order_page', {id: order.id}) }}">{{ order.title }}</a>
                    </td>
                    <td>{{ order.mark.title }} {{ order.model.title }}, {{ order.year }} г.</td>
                    <td>{{ order.dateCreated|date('d-m-Y') }}</td>
                    <td>
                        {% if not order.date %}
                            Не указана
                        {% else %}
                            {{ order.date|date('d-m-Y') }}
                        {% endif %}

                    </td>
                    <td width="180px">
                        <a href="{{ path('profile_order_page', {'id':order.id}) }}" class="btn btn-danger btn-xs">
                            {% if order.type == 2 %}
                                Бесплатное предложение
                            {% else %}
                                Сделать предложение
                            {% endif %}

                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}