.footer {
  background: #fff;
  border-top: solid 1px #ddd;
  padding: 30px 0;
  font-size: 12px;
  color: #4e575d;
  letter-spacing: 0.5px;
}

.footer-nav li a:first-child {
  border-left: 0;
}

.footer-nav li a {
  border-left: 1px solid #ddd;
  color: #4e575d;
  font-size: 12px;
  padding: 0 10px;
  text-transform: uppercase;
}