.header {
  min-height: 80px;
}

.logo, .logo-title {
  font-family: Open Sans Condensed,Helvetica Neue,sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #16A085;
  img {
    display: inline-block;
  }
}

.logo {
  height: 80px;
  line-height: normal;
}

.logo span, .logo-title span {
  font-weight: lighter;
}

.navbar-site {
  margin-bottom: 0!important;
  height: 80px;
  background: #fff;
  border-radius: 0;
  border-bottom: solid 1px #ddd;
}

.navbar-left {
  margin-top: 20px;
}

.navbar-right {
  margin-top: 20px;
  float: right!important;
  margin-right: -15px;
}

.navbar-nav {
  >li {
    &.postadd {
      padding-left: 15px;
      margin-left: 5px;
      border-left: solid 1px #ddd;
      a {
        border-radius: 3px;
        box-sizing: border-box;
        color: #fff;
        font-size: 12px;
        height: 40px;
        line-height: normal;
        padding: 12px 35px;
        text-transform: uppercase;

      }
    }
    >a {
      border-radius: 3px;
      box-sizing: border-box;
      color: #777;
      font-size: 12px;
      height: 40px;
      line-height: normal;
      padding: 12px 10px 12px 10px;
      &.btn {
        color: white;
        &:hover {
          color: black;
        }
      }
    }
  }
}