.top {
  background: #4CA6CD;
  margin-top: -30px;
  padding-top: 40px;
  &.sto {
    background: url('/img/bg.jpg') top center;
    background-size: cover;
    height: 300px;
    margin: -30px 0 0 0;
    padding-top: 90px;
  }
  h1 {
    text-align: center;
    color: white;
  }
  h4 {
    text-align: center;
    margin: 10px 0 15px 0;
    color: white;
  }

  .btn-warning {
    margin: 20px 0 0 0;
  }

  .main-text {
    padding: 15px 0;
    color: white;
    line-height: 1.1;
    a {
      color: #F1C40F;
      font-weight: 700;
      font-size: 14px;
      display: inline-block;
      margin-top: 15px;
    }
  }
}

.top2 {
  background: #4CA6CD;
  margin-top: 0px;
  padding-top: 40px;
  &.sto {
    // background: url('/img/bg.jpg') top center;
    background-color: #18485D;
    background-size: cover;
    height: 300px;
    margin: 30px 0 0 0;
    padding-top: 70px;
  }
  h2 {
    text-align: center;
    color: #F1C40F;
    font-weight: 600;
  }
  ul {
    li{
      text-align: center;
      margin: 10px 0 15px 0;
      color: white;
      font-size: 1.4em;
    }
  }

  .btn-warning {
    margin: 20px 0 0 0;
  }

  .main-text {
    padding: 15px 0;
    color: white;
    line-height: 1.1;
  }
}

.order {
  margin: 60px 0 0 0;
  .item {
    text-align: center;
    h3 {
      font-size: 26px;
      font-weight: bold;
    }
    .text {}
  }
}

.new {
  margin-top: 50px;
  text-align: center;
  h3 {
    text-align: center;
    font-weight: 700;
  }

  .item {
    height: 150px;
    text-align: left;
    h3 {
      font-weight: 500;
      text-align: left;
    }
    img {
      max-height: 110px;
    }

    p {}
  }
  

}

.sto {
  margin-top: 60px;
  text-align: center;
}

.why {
  margin-top: 50px;
  h2 {
    text-align: center;
  }
  ul {
    margin-top: 10px;
    li {
      padding: 10px;
    }
  }
}

.how {
  margin-top: 50px;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  table {
    width: 430px;
    tr {
      height: 25px;
      td {
        &.num {
          vertical-align: top;
          span {
            transition: border 1.5s ease;
            color: #4d4d4d;
            border: 1px dashed #4d4d4d;
            border-radius: 70px;
            width: 55px;
            height: 55px;
            display: block;
            text-align: center;
            padding-top: 16px;
            font-size: 1.5em;
            margin: 0 21px 0 0;
          }
        }
        &.head {
          color: #4d4d4d;
          font-size: 1.7em;
          line-height: 1.2em;
          padding: 0 0 12px 0;
          height: 60px;
        }
        &.desc {
          color: #999999;
          line-height: 1.2;
          padding: 0 0 40px 0;
        }
      }
    }
  }
}

.how {
  margin-top: 50px;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .num {
     vertical-align: top;
     margin: auto;
     width: 60px;
     margin-bottom: 12px;
     span {
       transition: border 1.5s ease;
       color: #4d4d4d;
       border: 1px dashed #4d4d4d;
       border-radius: 70px;
        width: 55px;
        height: 55px;
        display: block;
        text-align: center;
        padding-top: 16px;
        font-size: 1.5em;
        margin: 0 21px 0 0;
      }
     }
  .head {
      color: #4d4d4d;
      font-size: 1.7em;
      line-height: 1.2em;
      padding: 0 0 12px 0;
      height: 60px;
    }
  .desc {
      color: #4d4d4d;
      line-height: 1.2;
      padding: 0 0 40px 0;
      font-size: 1.4em;
      font-weight: 300;
   }
}

.bottom {
  margin-top: 50px;
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
}

.connect {
  margin-top: 50px;
  h2 {
    text-align: center;
  }
}

.modal {
  .promo-text-box {
    text-align: center;
  }
}

@media(max-width:767px){
  .navbar-toggle {
    margin-top: 22px;
  }

  .navbar-collapse {
    background: white;
    z-index: 9999;
    position: relative;
  }

  .navbar-nav>li>a {
    font-size: 14px;
  }

  .navbar-nav>li.postadd {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    border: none;
  }

  .navbar-right {
    float: none !important;
  }
}