.login-box {
  float: none;
  margin: 0 auto;
  clear: both;
}



.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
  border-color: #ddd;
}

div.login-box .panel-body {
  padding-left: 20px;
  padding-right: 20px;
}

.panel-footer {
  box-shadow: 0 1px 3px rgba(0,0,0,0.05) inset;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

div.login-box .panel-footer p {
  margin-top: 10px;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
  height: 40px;
}

.form-control:focus {
  border-color: #16a085;
  box-shadow: 0 1px 0 #16a085, 0 -1px 0 #16a085, -1px 0 0 #16a085, 1px 0 0 #16a085;
  -webkit-box-shadow: 0 1px 0 #16a085, 0 -1px 0 #16a085, -1px 0 0 #16a085, 1px 0 0 #16a085;
  -moz--box-shadow: 0 1px 0 #16a085,0 -1px 0 #16a085,-1px 0 0 #16a085,1px 0 0 #16a085;
  outline: 0 none;
}

.input-icon {
  position: relative;
}

.input-icon i {
  font-size: 16px;
  left: 6px;
  line-height: 22px;
  position: absolute;
  top: 9px;
}

.login-box .input-icon i {
  color: #555;
  opacity: 0.6;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}



.form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  color: #555;
  display: block;
  font-size: 12px;
  height: 43px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s,box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.input-icon input {
  padding-left: 45px;
}