@import 'header';
@import 'footer';
@import 'index';
@import 'login';
@import 'register';
@import 'profile';

body, html {
  height: 100%;
  width: 100%;
}

body {
  background: #EEEEEE;
  color: #333;
  font-family: 'Roboto',sans-serif;
  font-size: 13px;
  line-height: 21px;

}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title-2 {
  border-bottom: 1px solid #e6e6e6;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Condensed,Helvetica Neue,Helvetica,sans-serif;
  font-weight: normal;
  margin: 0;
  padding-bottom: 15px;
}

a {
  color: #369;
  outline: none!important;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
  color: #FA7722;
}

.btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: normal;
  line-height: 1.4;
  padding: 10px 12px;
  transition: all 0.25s linear 0s;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -ms-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
}

.btn-border {
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset, 1px 1px 0 rgba(0,0,0,0.1) inset;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.btn-danger {
  background-color: #E74C3C;
}

.btn-danger.active, .btn-danger:active, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
  background-color: #EC7063!important;
  border-color: #EC7063!important;
  color: #FFFFFF!important;
}

.btn-primary {
  background-color: #16A085;
  border-color: #16A085;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #149078;
  border-color: #149078;
  color: #FFFFFF;
}

.btn-warning {
  background-color: #F1C40F;
  color: #FFFFFF;
}

.main-container {
  min-height: calc(~"100% - 160px");
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  li .dropdown-menu.user-menu>.active>a, .dropdown-menu.user-menu>.active>a:focus {
    background: #EEEEEE;
    font-weight: bold;
    color: #2a3744;
  }
}


.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media screen and (min-width: 768px) {
  li .user-menu li a {
    font-size: 11px;
    letter-spacing: 0.55px;
    clear: both;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 5px 10px;
    text-transform: inherit;
    white-space: nowrap;
  }
}

.bootstrap-select {
  border: 1px solid #ddd !important;
}

.order {
  p {
    font-size: 16px;
    font-weight: 300;
  }
  h4 {
    font-size: 18px;
  }

  .fa {
    color: #4CA6CD;
  }
}

.pagination {
  margin-top: 30px;
  li {
    display: inline;
    &.active {
      background-color: #f8f8f8;
      color: #000000;
      border-color: #cfcfcf;
      cursor: default;
      font-weight: bold;
      >a {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        text-decoration: none;
        background-color: #fff;
        color: #9a9a9a;
        border-color: #cfcfcf;
      }
    }
  }
}