.inner-box {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 3px 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(180,180,180,0.5);
  margin-bottom: 30px;
  padding: 20px 15px;
}

.collapse-box {
  margin-bottom: 15px;
}

.no-border {
  border: none;
}

.collapse-title {
  border-top: 1px solid #e6e6e6;
  color: #2a3744;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 15px;
  text-transform: uppercase;
}

.no-border {
  border: 0;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

.user-panel-sidebar ul {
  padding: 0;
}

.user-panel-sidebar ul li a {
  background: none repeat scroll 0 0 #ffffff;
  display: block;
  font-family: 'Roboto Condensed',Open Sans,Arial;
  color: #2a3744;
  font-size: 12px;
  height: auto;
  letter-spacing: 0.5px;
  line-height: 26px;
  padding: 5px 10px;
  margin-bottom: 1px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

#files {
  padding: 10px;
  .image {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    position: relative;
    img {}
    span {
      position: absolute;
      top: 4px;
      right: -12px;
    }
  }
}


.no-margin {
  margin: 0!important;
}
.uppercase {
  text-transform: uppercase;
}
.color-danger {
  color: #E74C3C;
}



.category-list {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 3px 3px;
  display: block;
  box-shadow: 0 1px 1px rgba(180,180,180,0.5);
}

.tab-box {
  background: #f8f8f8;
  position: relative;
}

.adds-wrapper {
  background: #fff;
  clear: both;
  display: block;
  height: auto;
  overflow: auto;
  width: 100%;
}

.nav-tabs.add-tabs>li:first-child>a {
  border-left: 1px solid transparent;
}
.nav-tabs.add-tabs>li.active>a {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #e6e6e6;
}
.nav-tabs.add-tabs>li>a, .nav-tabs.add-tabs>li.active>a, .nav-tabs.add-tabs>li.active>a:hover, .nav-tabs.add-tabs>li.active>a:focus {
  border-radius: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-right: 0;
}

.item-list.make-list, .item-list.make-compact {
  height: auto!important;
}
.item-list {
  border-bottom: 1px solid #ddd;
  clear: both;
  padding: 15px;
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  transition: background 0.25s ease-in;
  -webkit-transition: background 0.25s ease-in;
}

.item-list.make-compact .photobox, .item-list.make-compact .info-row .category {
  display: none;
}
.no-padding {
  padding: 0!important;
}

.item-list.make-compact .add-title {
  float: left;
  clear: left;
  height: 19px;
  overflow: hidden;
  padding-bottom: 7px;
  width: 60%;
}
.add-title {
  padding-bottom: 7px;
}

.add-details a {
  font-weight: bold;
}

.item-list.make-compact .info-row {
  display: block;
  float: left;
  clear: none;
  font-size: 12px;
  width: 40%;
}

.info-row {
  display: block;
  clear: both;
  font-size: 12px;
  color: #9a9a9a;
}

.item-list.make-compact h2.item-price {
  line-height: 20px;
}
.item-list.make-compact .item-price {
  float: left;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bx-wrapper, .bx-viewport {
  height: 200px !important; //provide height of slider
}

.bx-wrapper, .bx-viewport, .bx-wrapper li {
  text-align: center;
}

.bx-wrapper, .bx-viewport, .bx-wrapper img {
  max-height: 200px !important;

}

.bx-wrapper img {
  display: inline-block !important;
}