.inner-box.category-content {
  padding-bottom: 0;
}

.page-content .inner-box {
  overflow: visible;
  padding: 15px;
}

.inner-box {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 3px 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(180,180,180,0.5);
  margin-bottom: 30px;
  padding: 20px 15px;
}

.promo-text-box {
  padding: 15px 20px;
}

.icon-color-1 {
  color: #FF9113;
}

p.required, .required sup {
  color: #e74c3c;
}

#final-btns {

}