<div class="col-md-12">
    <form ng-submit="vm.save()" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Название</label>
            <div class="col-md-9">
                <input type="text" ng-model="vm.page.title" required class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Meta keywords</label>
            <div class="col-md-9">
                <input type="text" ng-model="vm.page.keywords" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Meta description</label>
            <div class="col-md-9">
                <input type="text" ng-model="vm.page.description" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div text-angular ng-model="vm.page.text"></div>
            </div>
        </div>

        <input type="submit" class="btn btn-primary pull-right" value="Сохранить">
    </form>
</div>