<div class="col-md-12">
    <table class="table">
        <thead>
        <th>Название</th>
        <th>Ключ</th>
        <th>Действия</th>
        </thead>
        <tbody>
        <tr ng-repeat="option in vm.pages track by option.id">
            <td>{{option.title}}</td>
            <td>{{option.key}}</td>
            <td>
                <a ui-sref="page_edit({id:option.id})" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>