<div class="col-lg-12">

    <form class="form-horizontal" ng-submit="vm.save()">
        <div class="form-group">
            <label class="col-lg-2 control-label">Название</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" ng-model="vm.city.title" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2">
                <input type="submit" class="btn btn-default" value="Добавить">
            </div>
        </div>
    </form>

</div>