<div class="col-md-12">

    <div style="margin-bottom: 20px">
        <a ui-sref="cities_add({id:vm.regionId})" class="btn btn-default">
            <i class="fa fa-plus"></i> Добавить
        </a>
    </div>


    <table ng-table="vm.table" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="row in $data track by row.id">
            <td data-title="'Название'">
                {{row.title}}
            </td>
            <td data-title="'Действия'">

            </td>
        </tr>
    </table>
</div>